<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff5c87f4-0e94-4d17-b060-ae30a450e91a" Alias="Feature - Rich Text Editor Slide - Multinode Treepicker" Level="1">
  <Info>
    <Name>Feature - Rich Text Editor Slide - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>