<?xml version="1.0" encoding="utf-8"?>
<Media Key="04d106ee-c435-44ef-a890-2b8d2f9f761f" Alias="072" Level="3">
  <Info>
    <Parent Key="0af7bc4b-a212-4976-bc9c-2df554d78473">Medlemsdag 2020</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2020/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:16</CreateDate>
    <NodeName Default="072" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3adncbbv/072.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>