<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5ecb91a-890e-44ce-bc6c-04c32351b0b3" Alias="072" Level="3">
  <Info>
    <Parent Key="b88cf95b-d092-4331-962b-a5c7008f7d97">Medlemsdag 2016</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:48</CreateDate>
    <NodeName Default="072" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ds2pznio/072.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>