<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c4c6080-6710-4ed1-a2f6-57a6cf7bf10a" Alias="073" Level="3">
  <Info>
    <Parent Key="b88cf95b-d092-4331-962b-a5c7008f7d97">Medlemsdag 2016</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:49</CreateDate>
    <NodeName Default="073" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qzqeydaq/073.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>