<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467" Alias="1Bilder medlemsdagar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BilderMedlemsdagar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:26:34</CreateDate>
    <NodeName Default="1Bilder medlemsdagar" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>