<?xml version="1.0" encoding="utf-8"?>
<Media Key="ead73b8c-fade-4f7d-ad9e-78d087f72860" Alias="1Bilder medlemsdagar (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BilderMedlemsdagar1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-07T15:00:09</CreateDate>
    <NodeName Default="1Bilder medlemsdagar (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>