<?xml version="1.0" encoding="utf-8"?>
<Media Key="0700ba64-009c-44e6-87df-13f607d1abf4" Alias="208" Level="3">
  <Info>
    <Parent Key="b88cf95b-d092-4331-962b-a5c7008f7d97">Medlemsdag 2016</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:50</CreateDate>
    <NodeName Default="208" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mk3aab22/208.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>