<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ba39dac-f1ee-4908-8988-790a3522c915" Alias="215" Level="3">
  <Info>
    <Parent Key="b88cf95b-d092-4331-962b-a5c7008f7d97">Medlemsdag 2016</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:51</CreateDate>
    <NodeName Default="215" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vkolg45o/215.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>