<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8f9a428-0957-40c2-8d82-a693348cba64" Alias="216" Level="3">
  <Info>
    <Parent Key="b88cf95b-d092-4331-962b-a5c7008f7d97">Medlemsdag 2016</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:52</CreateDate>
    <NodeName Default="216" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f0spt0cx/216.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>