<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cd6762c-83eb-4555-853d-0339c4d4e303" Alias="218" Level="3">
  <Info>
    <Parent Key="b88cf95b-d092-4331-962b-a5c7008f7d97">Medlemsdag 2016</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:52</CreateDate>
    <NodeName Default="218" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fj1nmlhl/218.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>