<?xml version="1.0" encoding="utf-8"?>
<Media Key="937a07c9-5b5b-46cb-8f31-fd60b91d011d" Alias="43" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T15:03:26</CreateDate>
    <NodeName Default="43" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z2dhve01/43.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>