<?xml version="1.0" encoding="utf-8"?>
<Media Key="702e4b9a-1112-4349-a21f-39931ada63a6" Alias="60907F50 C4d6 4044 9422 B536a7fdabfa" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F50C4d640449422B536a7fdabfa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T15:04:34</CreateDate>
    <NodeName Default="60907F50 C4d6 4044 9422 B536a7fdabfa" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/trfd22as/60907f50-c4d6-4044-9422-b536a7fdabfa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>