<?xml version="1.0" encoding="utf-8"?>
<Media Key="61357a3b-2266-416e-be64-9d00724f1024" Alias="Afrikabarn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Afrikabarn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T14:23:42</CreateDate>
    <NodeName Default="Afrikabarn" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hv3dkylg/afrikabarn.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>