<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a13a2cf-4500-44ab-8403-c5bb40c803e8" Alias="Aluma" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aluma</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T08:54:32</CreateDate>
    <NodeName Default="Aluma" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zgrbggqa/aluma.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>