<?xml version="1.0" encoding="utf-8"?>
<Media Key="380d3388-efa6-4089-8a18-25b123554582" Alias="Ambulans" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Ambulans</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:25</CreateDate>
    <NodeName Default="Ambulans" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ryzb0ofg/ambulans.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>