<?xml version="1.0" encoding="utf-8"?>
<Media Key="66895dae-e63c-4e3e-b5d8-ef728dac0874" Alias="Bajamaja" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Bajamaja</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-11-07T21:11:26</CreateDate>
    <NodeName Default="Bajamaja" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t3ojszr2/bajamaja.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>