<?xml version="1.0" encoding="utf-8"?>
<Media Key="dad00293-3efe-4220-916b-c682c9501ed2" Alias="Bakgrund Navsjo" Level="2">
  <Info>
    <Parent Key="8e3430c3-5b84-4626-96a1-849daec194df">Hem bilder</Parent>
    <Path>/HemBilder/BakgrundNavsjo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T14:49:25</CreateDate>
    <NodeName Default="Bakgrund Navsjo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/subnbwx4/bakgrund_navsjo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>