<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdf5c3a8-aca8-4247-b0ca-f3bf531572da" Alias="Barnfiske" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Barnfiske</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T15:20:45</CreateDate>
    <NodeName Default="Barnfiske" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v1bplpni/barnfiske.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>