<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b39f8f0-2015-4a2a-9e1b-2b4cb5284934" Alias="Bild19 Stor 2014" Level="3">
  <Info>
    <Parent Key="c2bc116a-1905-4aa9-865f-32b4bb5c2635">Medlemsdag 2018</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2018/Bild19Stor2014</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:36</CreateDate>
    <NodeName Default="Bild19 Stor 2014" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/412dssyv/bild19_stor-2014.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>