<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c8960fa-77ca-4cc4-9dd7-a037bb472291" Alias="Bild103 Stor" Level="3">
  <Info>
    <Parent Key="224df92b-963b-4854-bb63-bef8d0d9734d">Medlemsdag 2017</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017/Bild103Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:41</CreateDate>
    <NodeName Default="Bild103 Stor" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5rqishgk/bild103_stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>