<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef4ee919-5ebd-4e17-8100-cf450acbe735" Alias="Bild109 Stor" Level="3">
  <Info>
    <Parent Key="224df92b-963b-4854-bb63-bef8d0d9734d">Medlemsdag 2017</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017/Bild109Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:41</CreateDate>
    <NodeName Default="Bild109 Stor" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d5uf3133/bild109_stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>