<?xml version="1.0" encoding="utf-8"?>
<Media Key="bea4fa39-14bd-41fd-9a64-dcec122a4801" Alias="Bild13 Stor 2014" Level="3">
  <Info>
    <Parent Key="c2bc116a-1905-4aa9-865f-32b4bb5c2635">Medlemsdag 2018</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2018/Bild13Stor2014</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:33</CreateDate>
    <NodeName Default="Bild13 Stor 2014" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h53kjpv3/bild13_stor-2014.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>