<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6b1dbd2-862c-43dc-b604-9c0f465c8e23" Alias="Bild16 Stor" Level="3">
  <Info>
    <Parent Key="224df92b-963b-4854-bb63-bef8d0d9734d">Medlemsdag 2017</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017/Bild16Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:46</CreateDate>
    <NodeName Default="Bild16 Stor" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0tnldvrm/bild16_stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>