<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad7a68a1-cea4-45d3-80ee-663f6e244136" Alias="Bild20 Stor 2014" Level="3">
  <Info>
    <Parent Key="c2bc116a-1905-4aa9-865f-32b4bb5c2635">Medlemsdag 2018</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2018/Bild20Stor2014</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:38</CreateDate>
    <NodeName Default="Bild20 Stor 2014" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u3uhvlne/bild20_stor-2014.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>