<?xml version="1.0" encoding="utf-8"?>
<Media Key="20e8a2ae-fb96-4fad-a3bf-c258ed3080f5" Alias="Bild110 Stor" Level="3">
  <Info>
    <Parent Key="224df92b-963b-4854-bb63-bef8d0d9734d">Medlemsdag 2017</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017/Bild110Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:42</CreateDate>
    <NodeName Default="Bild110 Stor" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vcroqiew/bild110_stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>