<?xml version="1.0" encoding="utf-8"?>
<Media Key="decbc2ae-9343-4a8b-810e-ce7bace63d67" Alias="Bild15 Stor" Level="3">
  <Info>
    <Parent Key="224df92b-963b-4854-bb63-bef8d0d9734d">Medlemsdag 2017</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017/Bild15Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:45</CreateDate>
    <NodeName Default="Bild15 Stor" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vdbmxxsd/bild15_stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>