<?xml version="1.0" encoding="utf-8"?>
<Media Key="1312be48-6590-490b-97e7-7ce767b62a70" Alias="Bild18 Stor" Level="3">
  <Info>
    <Parent Key="224df92b-963b-4854-bb63-bef8d0d9734d">Medlemsdag 2017</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017/Bild18Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:47</CreateDate>
    <NodeName Default="Bild18 Stor" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j05bee2q/bild18_stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>