<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe910bd5-9168-4686-90f9-1e04dad75edc" Alias="Brandmen" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Brandmen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:27</CreateDate>
    <NodeName Default="Brandmen" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0mfjd5ti/brandmen.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>