<?xml version="1.0" encoding="utf-8"?>
<Media Key="586bf460-1b21-4351-acd3-570b6316b900" Alias="Download (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T09:54:28</CreateDate>
    <NodeName Default="Download (2)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m10gwwbb/download-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>