<?xml version="1.0" encoding="utf-8"?>
<Media Key="5078ed2b-b982-4566-9271-c8f7e410e724" Alias="DSC 7495" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC7495</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:31</CreateDate>
    <NodeName Default="DSC 7495" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fxwhquec/dsc_7495.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>