<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6157798-a596-4413-b549-2f8cee87ec5c" Alias="DSC 5734" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC5734</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:29</CreateDate>
    <NodeName Default="DSC 5734" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tz1bl3uw/dsc_5734.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>