<?xml version="1.0" encoding="utf-8"?>
<Media Key="25dc63e8-2ce0-494e-b9a0-ee828c709fad" Alias="DSC 7501" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC7501</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:32</CreateDate>
    <NodeName Default="DSC 7501" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3zrnyjpa/dsc_7501.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>