<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c09e33d-57ff-46e9-b1f1-85f208d5b429" Alias="DSC 5727" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC5727</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:28</CreateDate>
    <NodeName Default="DSC 5727" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hprbsxh5/dsc_5727.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>