<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd8be585-1ccf-4066-8fad-56fa4931ee40" Alias="DSC 5726" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC5726</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:27</CreateDate>
    <NodeName Default="DSC 5726" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qpsjxxop/dsc_5726.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>