<?xml version="1.0" encoding="utf-8"?>
<Media Key="82b5b324-9d1d-4d32-999e-2f53a9290473" Alias="DSC 7489" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC7489</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:30</CreateDate>
    <NodeName Default="DSC 7489" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ekzllaq3/dsc_7489.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>