<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2d7a98a-201f-47ff-8026-fdfb93271b9e" Alias="DSC 5716" Level="3">
  <Info>
    <Parent Key="344d81fc-2e6d-438d-a139-d2a724199b86">Medlemsdag 2019</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019/DSC5716</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:26</CreateDate>
    <NodeName Default="DSC 5716" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rsunpiq5/dsc_5716.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>