<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f486c66-78c1-4843-944b-791c4afb6f83" Alias="Familj" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Familj</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T09:51:15</CreateDate>
    <NodeName Default="Familj" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbweqd4b/familj.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>