<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb935402-61ef-4693-b676-8efe9eae18f7" Alias="Fisk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fisk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T14:33:52</CreateDate>
    <NodeName Default="Fisk" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/arkjho5p/fisk.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>