<?xml version="1.0" encoding="utf-8"?>
<Media Key="9804f6aa-70db-49ef-b63b-adbbb6f2e70f" Alias="Fiske13" Level="3">
  <Info>
    <Parent Key="bd6b7272-f663-4848-a579-bcefcea3e764">Medlemsdag 2014</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2014/Fiske13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:33</CreateDate>
    <NodeName Default="Fiske13" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vt1ajgg1/fiske13.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>