<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bdda85d-1c1e-4e13-9e70-389ae8010134" Alias="Fiskekort" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fiskekort</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T14:19:35</CreateDate>
    <NodeName Default="Fiskekort" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/loun04y4/fiskekort.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>