<?xml version="1.0" encoding="utf-8"?>
<Media Key="eac5be1f-490a-40ee-b6f5-61e30c3adc21" Alias="Fiske101103a" Level="3">
  <Info>
    <Parent Key="bd6b7272-f663-4848-a579-bcefcea3e764">Medlemsdag 2014</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2014/Fiske101103a</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:29</CreateDate>
    <NodeName Default="Fiske101103a" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dg5ml0qk/fiske101103a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>