<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3123fb6-7dcd-4adb-a91a-0644a1e2c7a0" Alias="Fiske11" Level="3">
  <Info>
    <Parent Key="bd6b7272-f663-4848-a579-bcefcea3e764">Medlemsdag 2014</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2014/Fiske11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:30</CreateDate>
    <NodeName Default="Fiske11" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wa5bfq4n/fiske11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>