<?xml version="1.0" encoding="utf-8"?>
<Media Key="e24afe06-3a91-463a-a1ad-6599aef21c0e" Alias="Fresh Water Texture Background Transparent Liquid" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FreshWaterTextureBackgroundTransparentLiquid</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T14:06:48</CreateDate>
    <NodeName Default="Fresh Water Texture Background Transparent Liquid" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ad5evyur/fresh-water-texture-background-transparent-liquid.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>