<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc7c46b8-66dd-42d3-b52c-e432aa5a3d77" Alias="Fresh Water Texture Background Transparent Liquid 53876 142909" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FreshWaterTextureBackgroundTransparentLiquid53876142909</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-08T14:05:36</CreateDate>
    <NodeName Default="Fresh Water Texture Background Transparent Liquid 53876 142909" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ubdhztg3/fresh-water-texture-background-transparent-liquid_53876-142909.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>