<?xml version="1.0" encoding="utf-8"?>
<Media Key="077026a2-4105-45bd-b3c2-164cae9a77e2" Alias="Helikopter" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Helikopter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:28</CreateDate>
    <NodeName Default="Helikopter" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqthabyf/helikopter.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>