<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e3430c3-5b84-4626-96a1-849daec194df" Alias="Hem bilder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HemBilder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:58:18</CreateDate>
    <NodeName Default="Hem bilder" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>