<?xml version="1.0" encoding="utf-8"?>
<Media Key="811ae027-2a69-4354-924e-ef22f2c956d4" Alias="Image" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Image</Path>
    <Trashed Parent="8e3430c3-5b84-4626-96a1-849daec194df">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:58:28</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ehqbvalj/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>