<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f64b531-7eaa-4c65-b850-895a0260821a" Alias="IMGP0910" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0910</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:37</CreateDate>
    <NodeName Default="IMGP0910" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g40hih3k/imgp0910.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>