<?xml version="1.0" encoding="utf-8"?>
<Media Key="9334997e-ed22-48e0-b5e1-76d2ce82ee1b" Alias="IMGP0861" Level="3">
  <Info>
    <Parent Key="00edf29f-ce10-40b2-9cab-0a68b515b7b2">Medlemsdag 2021</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2021/IMGP0861</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:14</CreateDate>
    <NodeName Default="IMGP0861" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pcmdjezc/imgp0861.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>