<?xml version="1.0" encoding="utf-8"?>
<Media Key="44186c77-9359-4078-8713-873eb4942504" Alias="IMGP0937" Level="3">
  <Info>
    <Parent Key="32a5cade-3de6-4527-951e-4efbca6603a4">Medlemsdag 2013</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2013/IMGP0937</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:25</CreateDate>
    <NodeName Default="IMGP0937" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ofwbqrcz/imgp0937.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>