<?xml version="1.0" encoding="utf-8"?>
<Media Key="764a13a7-5faf-4f70-86b0-3fcb9c3a34e8" Alias="IMGP0850" Level="3">
  <Info>
    <Parent Key="00edf29f-ce10-40b2-9cab-0a68b515b7b2">Medlemsdag 2021</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2021/IMGP0850</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:09</CreateDate>
    <NodeName Default="IMGP0850" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uejfu3vp/imgp0850.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>