<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c840f01-9828-4d2c-91be-f588250f54cd" Alias="IMGP0913" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0913</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:39</CreateDate>
    <NodeName Default="IMGP0913" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a2hjjhbi/imgp0913.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>