<?xml version="1.0" encoding="utf-8"?>
<Media Key="171574bd-ceeb-48a2-86c1-1dd0441eeb2d" Alias="IMGP0908" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0908</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:35</CreateDate>
    <NodeName Default="IMGP0908" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xn0bkf5l/imgp0908.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>