<?xml version="1.0" encoding="utf-8"?>
<Media Key="516eaaf5-7cae-4996-bdf3-886355de8fc6" Alias="IMGP0912" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0912</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:38</CreateDate>
    <NodeName Default="IMGP0912" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ovg2uno/imgp0912.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>