<?xml version="1.0" encoding="utf-8"?>
<Media Key="830e2ce4-1230-4f61-8935-421a79911438" Alias="IMGP0928" Level="3">
  <Info>
    <Parent Key="32a5cade-3de6-4527-951e-4efbca6603a4">Medlemsdag 2013</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2013/IMGP0928</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:19</CreateDate>
    <NodeName Default="IMGP0928" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2iwa3azq/imgp0928.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>