<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7592e26-5016-4df9-b17c-45be7dff8031" Alias="IMGP0868" Level="3">
  <Info>
    <Parent Key="00edf29f-ce10-40b2-9cab-0a68b515b7b2">Medlemsdag 2021</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2021/IMGP0868</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:15</CreateDate>
    <NodeName Default="IMGP0868" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eaxftnyw/imgp0868.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>