<?xml version="1.0" encoding="utf-8"?>
<Media Key="861916f1-2368-400e-9bd0-04128f8ada59" Alias="IMGP0790 Serialized1" Level="3">
  <Info>
    <Parent Key="0af7bc4b-a212-4976-bc9c-2df554d78473">Medlemsdag 2020</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2020/IMGP0790Serialized1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:23</CreateDate>
    <NodeName Default="IMGP0790 Serialized1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/42lbtbti/imgp0790___serialized1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>