<?xml version="1.0" encoding="utf-8"?>
<Media Key="d776605d-00fc-4448-be49-52d03d27374c" Alias="IMGP0857" Level="3">
  <Info>
    <Parent Key="00edf29f-ce10-40b2-9cab-0a68b515b7b2">Medlemsdag 2021</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2021/IMGP0857</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:11</CreateDate>
    <NodeName Default="IMGP0857" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lnqhnv52/imgp0857.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>