<?xml version="1.0" encoding="utf-8"?>
<Media Key="252f79ed-9d35-4b33-a4e3-9f50c9ed8ef2" Alias="IMGP0803 Serialized1" Level="3">
  <Info>
    <Parent Key="0af7bc4b-a212-4976-bc9c-2df554d78473">Medlemsdag 2020</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2020/IMGP0803Serialized1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:24</CreateDate>
    <NodeName Default="IMGP0803 Serialized1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3n2d4jjv/imgp0803___serialized1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>