<?xml version="1.0" encoding="utf-8"?>
<Media Key="c135d36c-28e5-4b1b-a5ee-7dd6576501fc" Alias="IMGP0804 Serialized1" Level="3">
  <Info>
    <Parent Key="0af7bc4b-a212-4976-bc9c-2df554d78473">Medlemsdag 2020</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2020/IMGP0804Serialized1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:25</CreateDate>
    <NodeName Default="IMGP0804 Serialized1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nljdlqpf/imgp0804___serialized1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>