<?xml version="1.0" encoding="utf-8"?>
<Media Key="a528c303-8f83-4aec-9f47-39ba8bf7d25c" Alias="IMGP0932" Level="3">
  <Info>
    <Parent Key="32a5cade-3de6-4527-951e-4efbca6603a4">Medlemsdag 2013</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2013/IMGP0932</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:21</CreateDate>
    <NodeName Default="IMGP0932" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/axbdrjmd/imgp0932.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>