<?xml version="1.0" encoding="utf-8"?>
<Media Key="bffe0625-aba4-4e16-a3f2-e81041fd1da9" Alias="IMGP0933" Level="3">
  <Info>
    <Parent Key="0598d174-7632-45fa-8755-30e8d83e4f39">Medlemsdag 2022</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2022/IMGP0933</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:03</CreateDate>
    <NodeName Default="IMGP0933" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/emdp3p3e/imgp0933.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>