<?xml version="1.0" encoding="utf-8"?>
<Media Key="da324e7f-adbb-45cc-bfb6-1fd122dc84be" Alias="IMGP0907" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0907</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:34</CreateDate>
    <NodeName Default="IMGP0907" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pfhdfwv1/imgp0907.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>