<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee9b56c7-baa7-432f-8df8-d4aaeeaa0c97" Alias="IMGP0936" Level="3">
  <Info>
    <Parent Key="32a5cade-3de6-4527-951e-4efbca6603a4">Medlemsdag 2013</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2013/IMGP0936</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:24</CreateDate>
    <NodeName Default="IMGP0936" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yfljx1vh/imgp0936.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>