<?xml version="1.0" encoding="utf-8"?>
<Media Key="1906e518-151a-41aa-9e8e-eb8102cce65c" Alias="IMGP0860" Level="3">
  <Info>
    <Parent Key="00edf29f-ce10-40b2-9cab-0a68b515b7b2">Medlemsdag 2021</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2021/IMGP0860</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:14</CreateDate>
    <NodeName Default="IMGP0860" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d1sbmgi0/imgp0860.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>