<?xml version="1.0" encoding="utf-8"?>
<Media Key="9737ff09-dd65-46bd-8207-ac8b92576522" Alias="IMGP0934" Level="3">
  <Info>
    <Parent Key="32a5cade-3de6-4527-951e-4efbca6603a4">Medlemsdag 2013</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2013/IMGP0934</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:22</CreateDate>
    <NodeName Default="IMGP0934" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b55dpf1f/imgp0934.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>