<?xml version="1.0" encoding="utf-8"?>
<Media Key="23a01b66-f74d-4193-bc9b-f7ac042dcae4" Alias="IMGP0914" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0914</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:40</CreateDate>
    <NodeName Default="IMGP0914" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/manlai0n/imgp0914.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>