<?xml version="1.0" encoding="utf-8"?>
<Media Key="b57a3f01-255d-4038-96dc-fb240c4dc13b" Alias="IMGP0906" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0906</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:33</CreateDate>
    <NodeName Default="IMGP0906" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a25hvnk3/imgp0906.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>