<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb9bc577-c615-42e5-963b-1dd228894114" Alias="IMGP0905" Level="3">
  <Info>
    <Parent Key="e75e4422-caff-490f-8575-c0affe98f93a">Medlemsdag 2012</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012/IMGP0905</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:03:32</CreateDate>
    <NodeName Default="IMGP0905" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ohcjx4yv/imgp0905.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>