<?xml version="1.0" encoding="utf-8"?>
<Media Key="8113e403-4bfb-4af0-895e-3d10488e1e36" Alias="Kontakt Fisk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KontaktFisk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T14:26:50</CreateDate>
    <NodeName Default="Kontakt Fisk" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/axsbhap1/kontakt-fisk.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>