<?xml version="1.0" encoding="utf-8"?>
<Media Key="400ab43d-ad8b-4228-abe8-a5694e7a86af" Alias="Lakefiske" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lakefiske</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T13:52:18</CreateDate>
    <NodeName Default="Lakefiske" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ho0auqel/lakefiske.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>