<?xml version="1.0" encoding="utf-8"?>
<Media Key="381fac1e-6798-47d7-a10f-eda89396a054" Alias="Lubeck Fullgubbe" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/LubeckFullgubbe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:29</CreateDate>
    <NodeName Default="Lubeck Fullgubbe" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dcwb4oey/lubeck_fullgubbe.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>