<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e66deea-517a-4e1c-833c-e5f9eec48231" Alias="Medlemsdag10 2006 (1)" Level="3">
  <Info>
    <Parent Key="6da2ebb1-0d5a-40bb-a7a2-fd66266d25b0">Medlemsdag 2015</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2015/Medlemsdag1020061</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:38</CreateDate>
    <NodeName Default="Medlemsdag10 2006 (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3tpgmpt0/medlemsdag10-2006.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>