<?xml version="1.0" encoding="utf-8"?>
<Media Key="f25c7d59-e0a9-44f8-ae95-243705429e43" Alias="Medlemsdag14 2006" Level="3">
  <Info>
    <Parent Key="6da2ebb1-0d5a-40bb-a7a2-fd66266d25b0">Medlemsdag 2015</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2015/Medlemsdag142006</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:28:00</CreateDate>
    <NodeName Default="Medlemsdag14 2006" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l34fz2vj/medlemsdag14-2006.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>