<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd6b7272-f663-4848-a579-bcefcea3e764" Alias="Medlemsdag 2014" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2014</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-07T15:02:27</CreateDate>
    <NodeName Default="Medlemsdag 2014" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>