<?xml version="1.0" encoding="utf-8"?>
<Media Key="32a5cade-3de6-4527-951e-4efbca6603a4" Alias="Medlemsdag 2013" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2013</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-07T15:02:19</CreateDate>
    <NodeName Default="Medlemsdag 2013" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>