<?xml version="1.0" encoding="utf-8"?>
<Media Key="0af7bc4b-a212-4976-bc9c-2df554d78473" Alias="Medlemsdag 2020" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2020</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:27:16</CreateDate>
    <NodeName Default="Medlemsdag 2020" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>