<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e73d809-e960-4a7d-a5c3-4237522a2cc9" Alias="Medlemsdag13 2006 (1)" Level="3">
  <Info>
    <Parent Key="6da2ebb1-0d5a-40bb-a7a2-fd66266d25b0">Medlemsdag 2015</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2015/Medlemsdag1320061</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T15:02:41</CreateDate>
    <NodeName Default="Medlemsdag13 2006 (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b5mhgdta/medlemsdag13-2006.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>