<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d799d03-7026-45f8-8374-f0fce1a97e3f" Alias="Medlemsdag 2006" Level="3">
  <Info>
    <Parent Key="6da2ebb1-0d5a-40bb-a7a2-fd66266d25b0">Medlemsdag 2015</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2015/Medlemsdag2006</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T14:27:55</CreateDate>
    <NodeName Default="Medlemsdag 2006" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/awohthjg/medlemsdag-2006.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>