<?xml version="1.0" encoding="utf-8"?>
<Media Key="224df92b-963b-4854-bb63-bef8d0d9734d" Alias="Medlemsdag 2017" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2017</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:27:40</CreateDate>
    <NodeName Default="Medlemsdag 2017" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>