<?xml version="1.0" encoding="utf-8"?>
<Media Key="0598d174-7632-45fa-8755-30e8d83e4f39" Alias="Medlemsdag 2022" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2022</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:27:01</CreateDate>
    <NodeName Default="Medlemsdag 2022" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>