<?xml version="1.0" encoding="utf-8"?>
<Media Key="344d81fc-2e6d-438d-a139-d2a724199b86" Alias="Medlemsdag 2019" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2019</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:27:26</CreateDate>
    <NodeName Default="Medlemsdag 2019" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>