<?xml version="1.0" encoding="utf-8"?>
<Media Key="e75e4422-caff-490f-8575-c0affe98f93a" Alias="Medlemsdag 2012" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2012</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-07T15:03:32</CreateDate>
    <NodeName Default="Medlemsdag 2012" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>