<?xml version="1.0" encoding="utf-8"?>
<Media Key="00edf29f-ce10-40b2-9cab-0a68b515b7b2" Alias="Medlemsdag 2021" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2021</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:27:09</CreateDate>
    <NodeName Default="Medlemsdag 2021" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>