<?xml version="1.0" encoding="utf-8"?>
<Media Key="b88cf95b-d092-4331-962b-a5c7008f7d97" Alias="Medlemsdag 2016" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/Medlemsdag2016</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-06T14:27:48</CreateDate>
    <NodeName Default="Medlemsdag 2016" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>