<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4b6f1eb-7db5-493d-a0dc-a3fbec5f9186" Alias="Nävsjön S" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NaevsjoenS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T10:05:30</CreateDate>
    <NodeName Default="Nävsjön S" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3xyln3fv/naevsjoen-s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>