<?xml version="1.0" encoding="utf-8"?>
<Media Key="2326bd64-8a8e-42ff-afec-a527169aa32e" Alias="Nävsjön Flygfoto" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NaevsjoenFlygfoto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T09:57:04</CreateDate>
    <NodeName Default="Nävsjön Flygfoto" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mk4dmi2o/naevsjoen-flygfoto.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>