<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd09ccdc-5c70-4782-9251-9a20bfad5bf0" Alias="Navsjo Fjarkartmrubb7" Level="2">
  <Info>
    <Parent Key="8e3430c3-5b84-4626-96a1-849daec194df">Hem bilder</Parent>
    <Path>/HemBilder/NavsjoFjarkartmrubb7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T11:55:24</CreateDate>
    <NodeName Default="Navsjo Fjarkartmrubb7" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1lgat5lq/navsjo-fjarkartmrubb7.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>