<?xml version="1.0" encoding="utf-8"?>
<Media Key="63248ce7-af0e-43db-8d40-6d5b43890d5a" Alias="Navsjonkarta 120811Stor" Level="2">
  <Info>
    <Parent Key="8e3430c3-5b84-4626-96a1-849daec194df">Hem bilder</Parent>
    <Path>/HemBilder/Navsjonkarta120811Stor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T10:05:07</CreateDate>
    <NodeName Default="Navsjonkarta 120811Stor" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ggciyyo/navsjonkarta_120811stor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>