<?xml version="1.0" encoding="utf-8"?>
<Media Key="1679b5b5-797c-49a7-98f3-291e19967516" Alias="Paintball" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Paintball</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:29</CreateDate>
    <NodeName Default="Paintball" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wo0hsft2/paintball.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>