<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cd5b047-aced-4d3a-93a1-be6af4c81676" Alias="Pedal Boat 433542 1280" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PedalBoat4335421280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T15:02:04</CreateDate>
    <NodeName Default="Pedal Boat 433542 1280" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/igynldhn/pedal-boat-433542_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>