<?xml version="1.0" encoding="utf-8"?>
<Media Key="298edf21-62d9-404f-845b-14fd3b627641" Alias="Pngtree Food Material Fishing Silhouette Png Image 2851074" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PngtreeFoodMaterialFishingSilhouettePngImage2851074</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T09:47:32</CreateDate>
    <NodeName Default="Pngtree Food Material Fishing Silhouette Png Image 2851074" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e5pj2koz/pngtree-food-material-fishing-silhouette-png-image_2851074.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>