<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2461fa6-7487-4bc1-8842-6ad029d3aca0" Alias="Rentalhome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rentalhome</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T15:02:17</CreateDate>
    <NodeName Default="Rentalhome" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uapfnquh/rentalhome.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>