<?xml version="1.0" encoding="utf-8"?>
<Media Key="afe1088c-8c87-45bb-9b7c-c885654cd757" Alias="Roliga bilder" Level="2">
  <Info>
    <Parent Key="2a0eeec7-b4a4-41d5-9dff-30a220e43467">1Bilder medlemsdagar</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-07T21:11:24</CreateDate>
    <NodeName Default="Roliga bilder" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>