<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea28d213-c388-42e1-8317-5f68102c69d5" Alias="Rottweiler" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Rottweiler</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:31</CreateDate>
    <NodeName Default="Rottweiler" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cxjcr0ui/rottweiler.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>