<?xml version="1.0" encoding="utf-8"?>
<Media Key="a74e5fb4-b4f8-4566-ad70-3899ad8f3bab" Alias="Sjunkandebat" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/Sjunkandebat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T21:11:32</CreateDate>
    <NodeName Default="Sjunkandebat" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wjpf3j5y/sjunkandebat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>