<?xml version="1.0" encoding="utf-8"?>
<Media Key="8018ad15-db6f-4aad-ae44-e04c8c5f0461" Alias="Skolbarn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skolbarn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T15:22:30</CreateDate>
    <NodeName Default="Skolbarn" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cowbradp/skolbarn.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>