<?xml version="1.0" encoding="utf-8"?>
<Media Key="e51f266e-1832-4cd1-8222-95de60c6f58e" Alias="Thumbnail Image0" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThumbnailImage0</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T13:40:57</CreateDate>
    <NodeName Default="Thumbnail Image0" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/natb5zjs/thumbnail_image0.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>