<?xml version="1.0" encoding="utf-8"?>
<Media Key="27b20a0f-4d42-45c2-b608-57bb33e4e19b" Alias="Thumbnail Image0 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThumbnailImage01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T15:29:44</CreateDate>
    <NodeName Default="Thumbnail Image0 (1)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/beflej0c/thumbnail_image0.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>