<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c4d7bdb-44be-45eb-b68c-385d392b1233" Alias="V70" Level="3">
  <Info>
    <Parent Key="afe1088c-8c87-45bb-9b7c-c885654cd757">Roliga bilder</Parent>
    <Path>/BilderMedlemsdagar/RoligaBilder/V70</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-11-07T21:11:33</CreateDate>
    <NodeName Default="V70" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3j3f1hf4/v70.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>