<?xml version="1.0" encoding="utf-8"?>
<Content Key="608fe8a3-42a9-4cb1-9cdd-28733535b30d" Alias="Medlemsdag 2017" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2017</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Medlemsdag 2017" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/fbf5f06a844846e78174c4f1d4c01278",
                "settingsUdi": "umb://element/9f2d7863c56b41c3aa85342c94602938"
              },
              {
                "contentUdi": "umb://element/1ead4f424ffc467483f4101e2b90203f",
                "settingsUdi": "umb://element/7df949c33770453fbb83ee4a1143b6fc",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/66e783ed22b64313badb90fadd80ccae",
        "settingsUdi": "umb://element/3b3053c5aee14a90b67595b7694a16ee"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/d5174d240d46416588557cdaad7ff9cb",
                "settingsUdi": "umb://element/032a03ad805a4a04b589a80c8b0c7e16",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/747d0b22e99849f5a2a9375338d538e4",
                "settingsUdi": "umb://element/5c65cd9316284a52834684d073444501",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/a82a9d45819943f8a059cda961f44adb",
                "settingsUdi": "umb://element/e30cac7657d54a85a42b502b06093cf4",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e203252817134604a731a4f3fd0de0ea",
                "settingsUdi": "umb://element/c6706b78531b4c0f95ecb2b140bd7c91",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/19dde93f81de4a3e83deb31ac5074a30",
        "settingsUdi": "umb://element/925f370cf44a4942b48c9dc7442dc03f"
      },
      {
        "contentUdi": "umb://element/31c60d3eea9f4ed4977b3d39021bf331",
        "settingsUdi": "umb://element/ea5207a4726c4c11ab77d47c3c729d6d",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/b0332cfd698c4b5dbcab3ff6b8a07847",
                "settingsUdi": "umb://element/a0522aca0c5d42e2831787cd9e11a4a0",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f335ed214ce34e239e69ab464dc8e814",
                "settingsUdi": "umb://element/113ad31b274944259bf1251505b04873",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/8871ca5db0cb4f228bafa8e1da6b9042",
                "settingsUdi": "umb://element/1189fe810bc24fbfb1a590aa8a0f81fc",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/d707d1bf5d5a4543a7b5cde35bada30a",
                "settingsUdi": "umb://element/c2da5d5e7c324c9eb3727cdbb5a05223",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/19dde93f81de4a3e83deb31ac5074a30"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/66e783ed22b64313badb90fadd80ccae"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/fbf5f06a844846e78174c4f1d4c01278"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/1ead4f424ffc467483f4101e2b90203f",
      "image": "[\r\n  {\r\n    \"key\": \"d793d9d7-352e-4558-9c3f-fbccb9b7585e\",\r\n    \"mediaKey\": \"7b4eba18-4f3e-450d-9660-b2f1d3bd3187\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d5174d240d46416588557cdaad7ff9cb",
      "image": "[\r\n  {\r\n    \"key\": \"0ebfc247-60d4-4883-918f-4a94bf89fa5f\",\r\n    \"mediaKey\": \"1c8960fa-77ca-4cc4-9dd7-a037bb472291\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/747d0b22e99849f5a2a9375338d538e4",
      "image": "[\r\n  {\r\n    \"key\": \"4892a67b-7545-40f8-bc8b-9ce227db3238\",\r\n    \"mediaKey\": \"ef4ee919-5ebd-4e17-8100-cf450acbe735\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a82a9d45819943f8a059cda961f44adb",
      "image": "[\r\n  {\r\n    \"key\": \"b0bfeb7a-be3c-4ac7-a6f4-009d02efc4f8\",\r\n    \"mediaKey\": \"20e8a2ae-fb96-4fad-a3bf-c258ed3080f5\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/e203252817134604a731a4f3fd0de0ea",
      "image": "[\r\n  {\r\n    \"key\": \"4282af4c-8d6f-4566-8a3d-1b33fc812453\",\r\n    \"mediaKey\": \"55da0dd7-2457-4404-a5b4-1d67ba807bc7\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/31c60d3eea9f4ed4977b3d39021bf331"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/b0332cfd698c4b5dbcab3ff6b8a07847",
      "image": "[\r\n  {\r\n    \"key\": \"943440a9-b815-4c7a-898c-ea8db615ae9a\",\r\n    \"mediaKey\": \"decbc2ae-9343-4a8b-810e-ce7bace63d67\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/8871ca5db0cb4f228bafa8e1da6b9042",
      "image": "[\r\n  {\r\n    \"key\": \"f715d25f-9652-4308-b1b4-915097dfc083\",\r\n    \"mediaKey\": \"d6b1dbd2-862c-43dc-b604-9c0f465c8e23\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d707d1bf5d5a4543a7b5cde35bada30a",
      "image": "[\r\n  {\r\n    \"key\": \"92492fca-a03c-47f3-a408-b451f9042876\",\r\n    \"mediaKey\": \"65001160-1abd-42e0-a045-1f213d93cba0\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/f335ed214ce34e239e69ab464dc8e814",
      "image": "[\r\n  {\r\n    \"key\": \"4e22d2fe-e1c0-418c-be1e-17fc6e1cebd8\",\r\n    \"mediaKey\": \"1312be48-6590-490b-97e7-7ce767b62a70\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/925f370cf44a4942b48c9dc7442dc03f"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/3b3053c5aee14a90b67595b7694a16ee"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9f2d7863c56b41c3aa85342c94602938"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7df949c33770453fbb83ee4a1143b6fc"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/032a03ad805a4a04b589a80c8b0c7e16"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5c65cd9316284a52834684d073444501"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e30cac7657d54a85a42b502b06093cf4"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c6706b78531b4c0f95ecb2b140bd7c91"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/ea5207a4726c4c11ab77d47c3c729d6d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a0522aca0c5d42e2831787cd9e11a4a0"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/1189fe810bc24fbfb1a590aa8a0f81fc"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c2da5d5e7c324c9eb3727cdbb5a05223"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/113ad31b274944259bf1251505b04873"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Stort tack till Mats, Jörgen och Nils som ställde upp som mänskliga sköldar när Gösta tömde paintball-magasinet mot medlemmarna. Underbart väder annars...]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "3170a0af-8ba1-429b-80ea-a20d6fe73ae4",
    "mediaKey": "1679b5b5-797c-49a7-98f3-291e19967516"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2017]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2017]]></Value>
    </pageTitleShort>
  </Properties>
</Content>