<?xml version="1.0" encoding="utf-8"?>
<Content Key="24094670-d758-4dd4-9f01-3d98d215584d" Alias="Medlemsdag 2019" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2019</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-08T20:05:42</CreateDate>
    <NodeName Default="Medlemsdag 2019" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/ee5444bfc9e045a2955843bc35aaa729",
                "settingsUdi": "umb://element/9559f8d0f284457aa3b65d22ad8918c0"
              },
              {
                "contentUdi": "umb://element/346d9b686d484a8cb443acf356863f43",
                "settingsUdi": "umb://element/fa0f6c27a9314bf0ba6bba89e4c8faca",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/5e68ab54eb9f41fb92af2b4b7692829b",
        "settingsUdi": "umb://element/bf9458ea2be2464d95ea542baf21c525"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/62401ff078ed4fd49bd976ae25e1b13a",
                "settingsUdi": "umb://element/30a6d510f11949dd9b7ff3694fb6fbfb",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/bb65fc9bb1b6459a8bdcd82f5cf25ae9",
                "settingsUdi": "umb://element/a051278bc2df41a0bdfacec00841785f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/fbd9ff6860dd45eeb59dda4bba5db501",
                "settingsUdi": "umb://element/37e5b2d422f94280852d29af6920431b",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/60d8eecb1ff4489b9f1ee86238bf5711",
                "settingsUdi": "umb://element/b441520fb870465f904583deba87e77e",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/1fbd61f3dd3c4fda860fe7be3df11967",
        "settingsUdi": "umb://element/541f43468c7042fa9a9cafbb73529644"
      },
      {
        "contentUdi": "umb://element/24f526cb59c147749784c2ea49cbe155",
        "settingsUdi": "umb://element/97e93a0b00274aa9b8001ec1c2eab489",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/dca27e1241e944b198e280960b7db567",
                "settingsUdi": "umb://element/23162b8da8684d3781505996ae3dd1f5",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f573a0b807c64fe39d2637f28b2766e1",
                "settingsUdi": "umb://element/b4e355c64d5341bdab32f510597b4f62",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/240975201a2f40c9a4890f11cf4f6dca",
                "settingsUdi": "umb://element/90bea0b094834577b3df3a4e07f00adb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/511cc537c6514df2981a066e32b605d2",
                "settingsUdi": "umb://element/0baddbb57abc4e078d9e28f1a8900de7",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/1fbd61f3dd3c4fda860fe7be3df11967"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/5e68ab54eb9f41fb92af2b4b7692829b"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/ee5444bfc9e045a2955843bc35aaa729"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/346d9b686d484a8cb443acf356863f43",
      "image": "[\r\n  {\r\n    \"key\": \"071abbe9-52c4-4292-8753-6d0e6e44ed8f\",\r\n    \"mediaKey\": \"82b5b324-9d1d-4d32-999e-2f53a9290473\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/62401ff078ed4fd49bd976ae25e1b13a",
      "image": "[\r\n  {\r\n    \"key\": \"de58b203-300f-457e-bfef-193bc488aaf1\",\r\n    \"mediaKey\": \"a2d7a98a-201f-47ff-8026-fdfb93271b9e\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/bb65fc9bb1b6459a8bdcd82f5cf25ae9",
      "image": "[\r\n  {\r\n    \"key\": \"d22f41e3-226a-4b1c-a427-cd4a816ba14c\",\r\n    \"mediaKey\": \"dd8be585-1ccf-4066-8fad-56fa4931ee40\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/fbd9ff6860dd45eeb59dda4bba5db501",
      "image": "[\r\n  {\r\n    \"key\": \"367635fb-8600-491a-a31d-a302ae8c392b\",\r\n    \"mediaKey\": \"5c09e33d-57ff-46e9-b1f1-85f208d5b429\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/60d8eecb1ff4489b9f1ee86238bf5711",
      "image": "[\r\n  {\r\n    \"key\": \"3a55898f-8f13-43c7-88f6-788c93b5bf34\",\r\n    \"mediaKey\": \"f6157798-a596-4413-b549-2f8cee87ec5c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/24f526cb59c147749784c2ea49cbe155"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/dca27e1241e944b198e280960b7db567",
      "image": "[\r\n  {\r\n    \"key\": \"6800910d-b7c8-44ca-87b9-09370d85fce4\",\r\n    \"mediaKey\": \"06829a99-60c9-4569-8d5e-f23be02b52c8\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/240975201a2f40c9a4890f11cf4f6dca",
      "image": "[\r\n  {\r\n    \"key\": \"004a7224-f81b-4227-a007-8b7f52e600e8\",\r\n    \"mediaKey\": \"5078ed2b-b982-4566-9271-c8f7e410e724\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/511cc537c6514df2981a066e32b605d2",
      "image": "[\r\n  {\r\n    \"key\": \"c1162fa3-a361-4f35-bf9a-bf60e071f171\",\r\n    \"mediaKey\": \"25dc63e8-2ce0-494e-b9a0-ee828c709fad\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/f573a0b807c64fe39d2637f28b2766e1",
      "image": "[\r\n  {\r\n    \"key\": \"cb196d35-1709-47d5-8056-f5551941de92\",\r\n    \"mediaKey\": \"5c09e33d-57ff-46e9-b1f1-85f208d5b429\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/541f43468c7042fa9a9cafbb73529644"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/bf9458ea2be2464d95ea542baf21c525"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9559f8d0f284457aa3b65d22ad8918c0"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/fa0f6c27a9314bf0ba6bba89e4c8faca"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/30a6d510f11949dd9b7ff3694fb6fbfb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a051278bc2df41a0bdfacec00841785f"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/37e5b2d422f94280852d29af6920431b"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b441520fb870465f904583deba87e77e"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/97e93a0b00274aa9b8001ec1c2eab489"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/23162b8da8684d3781505996ae3dd1f5"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/90bea0b094834577b3df3a4e07f00adb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/0baddbb57abc4e078d9e28f1a8900de7"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b4e355c64d5341bdab32f510597b4f62"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Denna dag hade varit perfekt om inte Gösta hade ramlat över grillen och tänt på hela campingen. Stort tack till alla brandmän som deltog i släckningen.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "2bde08d0-fa20-48c0-99e1-5ac8a5184228",
    "mediaKey": "fe910bd5-9168-4686-90f9-1e04dad75edc"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2019]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2019]]></Value>
    </pageTitleShort>
  </Properties>
</Content>