<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbdda76-fe5f-45f5-9f15-5523231aedee" Alias="Medlemsdag 2013" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2013</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Medlemsdag 2013" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/afc18ca88acb467190e171933f84a917",
                "settingsUdi": "umb://element/332d1b7ad7db49e499073574bb8dc6a3"
              },
              {
                "contentUdi": "umb://element/94a160583d5a4ea78ae15a8af009ed49",
                "settingsUdi": "umb://element/a07a520810ec4d27a46dfac25ac1053a",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/8626b569f6e74a56b4718603587d9d7b",
        "settingsUdi": "umb://element/e7ed5e57cc374dbfb8123b14e72ee383"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/c5e485619d92452a94e767fd92025859",
                "settingsUdi": "umb://element/e51824f14a034b8e95743bf386c4077c",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/562735f4bc644ffd930454b520e9c525",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/fb2e4bfc8bc24deba40055bcdb02ef12"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/b0295abe01cf4cf493874eaf6068e21d",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/b7ce9d0557b1418aa756a09e34c40f5d"
              },
              {
                "contentUdi": "umb://element/91226af124624db08264df2c6888d83f",
                "settingsUdi": "umb://element/fe22d62d74c1489ab75e5190a3647486",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/48acdd1bf4cb4259acc725b4ced607e3",
        "settingsUdi": "umb://element/fbad8a4f295c4a3ab812d356b351dafc"
      },
      {
        "contentUdi": "umb://element/927e0343551446ebb83c987e72b6e612",
        "settingsUdi": "umb://element/255ec7e776cf4e93bb26e05672c809ed",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/26f70860eef748ac9c7f3a1371306c39",
                "settingsUdi": "umb://element/e7ec165ff0634bb0b51016407f6ae9c7",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c6a2c7801cbe493a9f8cc6a9b5e2ae51",
                "settingsUdi": "umb://element/362989db8dba42a4947ef3840ee0b917",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/c0a62bfda40b4f92925b01c0edcc5399",
                "settingsUdi": "umb://element/d06add3a1aca4e26be156540b6654ca1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/39a139781cb340e79efa0b6515f9c5b3",
                "settingsUdi": "umb://element/f8ddc4cd2b19403f9f00f56ae1543200",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/48acdd1bf4cb4259acc725b4ced607e3"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/562735f4bc644ffd930454b520e9c525",
      "featurePropertyFeatureTitle": "",
      "featurePropertyFeatureDescription": "",
      "image": "[\r\n  {\r\n    \"key\": \"23412d06-d31d-4d31-ae23-8b0c73af8534\",\r\n    \"mediaKey\": \"830e2ce4-1230-4f61-8935-421a79911438\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/b0295abe01cf4cf493874eaf6068e21d",
      "featurePropertyFeatureTitle": "",
      "featurePropertyFeatureDescription": "",
      "image": "[\r\n  {\r\n    \"key\": \"a829753d-6681-4f43-92e7-0220d098aa31\",\r\n    \"mediaKey\": \"a528c303-8f83-4aec-9f47-39ba8bf7d25c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/8626b569f6e74a56b4718603587d9d7b"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/afc18ca88acb467190e171933f84a917"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/94a160583d5a4ea78ae15a8af009ed49",
      "image": "[\r\n  {\r\n    \"key\": \"b7490257-4f91-473b-aeaf-3c84d832c643\",\r\n    \"mediaKey\": \"15e7110f-dee0-4b48-bbed-e27a1207e9d7\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/c5e485619d92452a94e767fd92025859",
      "image": "[\r\n  {\r\n    \"key\": \"9be6ac94-3f23-4038-b76a-0971f8f69239\",\r\n    \"mediaKey\": \"9737ff09-dd65-46bd-8207-ac8b92576522\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/91226af124624db08264df2c6888d83f",
      "image": "[\r\n  {\r\n    \"key\": \"1c3446d5-df0e-4290-aef9-2d4b11d23889\",\r\n    \"mediaKey\": \"d6812ea1-8d41-4e78-a6b8-ffc4a231a7e0\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/927e0343551446ebb83c987e72b6e612"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/26f70860eef748ac9c7f3a1371306c39",
      "image": "[\r\n  {\r\n    \"key\": \"1ee4d489-92a0-4d56-bae8-38e0979c1a59\",\r\n    \"mediaKey\": \"ee9b56c7-baa7-432f-8df8-d4aaeeaa0c97\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/c0a62bfda40b4f92925b01c0edcc5399",
      "image": "[\r\n  {\r\n    \"key\": \"bdb9eda9-dbaa-4397-af3c-6d8eb94314f6\",\r\n    \"mediaKey\": \"e251254b-cd0b-4caf-8389-243d15860bd9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/39a139781cb340e79efa0b6515f9c5b3",
      "image": "[\r\n  {\r\n    \"key\": \"48d3498f-11b0-411a-9362-ad3dced84414\",\r\n    \"mediaKey\": \"44186c77-9359-4078-8713-873eb4942504\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/c6a2c7801cbe493a9f8cc6a9b5e2ae51",
      "image": "[\r\n  {\r\n    \"key\": \"fa599b51-a17b-4357-b9ff-7b562296ae30\",\r\n    \"mediaKey\": \"984aa31d-f862-415a-88e7-ac4788f0a4c3\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/fbad8a4f295c4a3ab812d356b351dafc"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/e7ed5e57cc374dbfb8123b14e72ee383"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/332d1b7ad7db49e499073574bb8dc6a3"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/fb2e4bfc8bc24deba40055bcdb02ef12"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b7ce9d0557b1418aa756a09e34c40f5d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a07a520810ec4d27a46dfac25ac1053a"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e51824f14a034b8e95743bf386c4077c"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/fe22d62d74c1489ab75e5190a3647486"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/255ec7e776cf4e93bb26e05672c809ed"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e7ec165ff0634bb0b51016407f6ae9c7"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/d06add3a1aca4e26be156540b6654ca1"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/f8ddc4cd2b19403f9f00f56ae1543200"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/362989db8dba42a4947ef3840ee0b917"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Roligt med så hög närvaro, tråkigt dock att Göstas frisläppta rottweiler satte skräck i våra medlemmar..... Stort tack till jägaren som lade ner hunden.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "ad92f215-4f3d-4236-b45d-c9f9228a966e",
    "mediaKey": "1f64b531-7eaa-4c65-b850-895a0260821a"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2013]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2013]]></Value>
    </pageTitleShort>
  </Properties>
</Content>