<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9693418-28b0-4ac4-88fa-568230643a4e" Alias="Medlemsdag 2016" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2016</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Medlemsdag 2016" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/42d956296dc2450dab7ecd25ab764991",
                "settingsUdi": "umb://element/c2d5ce6c6c18418097465fdad30aa386"
              },
              {
                "contentUdi": "umb://element/a76ed8e84c914832be1689f9265a05fb",
                "settingsUdi": "umb://element/9d0b9307dea6463abdc43af0cdb758c5",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/dc27a7aafabb405794fc616e33eceb0a",
        "settingsUdi": "umb://element/86600e0c8b8c4923ac18713d99af35e6"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/60db5da1c1fd4c7bb732b01e68a8a2f9",
                "settingsUdi": "umb://element/c350b03704764bfc904d3423b0375a34",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/a6877831a7674b5ab563d5638b77eddd",
                "settingsUdi": "umb://element/2eba10fa1f25425a9097fe2825539b6b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/f2913bc039184c97a101ae9e64e7fda4",
                "settingsUdi": "umb://element/a9ed797e4fec45c089593d364a54b722",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ad41e9ee18534cfa869b2f7d289057fc",
                "settingsUdi": "umb://element/8ded7e1a402a4818b1306ccbeef56f09",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4cd55aeb72024636b8ad9eb5285df696",
        "settingsUdi": "umb://element/df9ea379e3424efd8f97ed0d0f20ae57"
      },
      {
        "contentUdi": "umb://element/0d92a4848ef241f884a2cb361bdb56fe",
        "settingsUdi": "umb://element/225c17a8653649fe8e5e47e272e71504",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/ac1f12dbf24d4df191c1b1269d9cbaac",
                "settingsUdi": "umb://element/7e25b71781e747e791de1927a81b39b2",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/0ee07347c53b4a82887c092102f4fa4c",
                "settingsUdi": "umb://element/ff0bb00bca5540f7bcab68cf15605512",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/91f40077444e41e99c78a3ae40169d6b",
                "settingsUdi": "umb://element/a1bdc10282e34e9fa41b9fe9571a04c1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/fb9b3de14bf74cafa740c44dd608e98f",
                "settingsUdi": "umb://element/7e0fe9773994482d87ca5d56e1ca10c1",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/4cd55aeb72024636b8ad9eb5285df696"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/dc27a7aafabb405794fc616e33eceb0a"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/42d956296dc2450dab7ecd25ab764991"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a76ed8e84c914832be1689f9265a05fb",
      "image": "[\r\n  {\r\n    \"key\": \"1d151639-c8e5-4d7d-bbec-dad7243f0c44\",\r\n    \"mediaKey\": \"da324e7f-adbb-45cc-bfb6-1fd122dc84be\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/60db5da1c1fd4c7bb732b01e68a8a2f9",
      "image": "[\r\n  {\r\n    \"key\": \"d163a87b-a68f-478e-8d9f-557ef04d1779\",\r\n    \"mediaKey\": \"fb9bc577-c615-42e5-963b-1dd228894114\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a6877831a7674b5ab563d5638b77eddd",
      "image": "[\r\n  {\r\n    \"key\": \"57a1c6c2-e04e-4cb7-bdb4-26cafa3594af\",\r\n    \"mediaKey\": \"b57a3f01-255d-4038-96dc-fb240c4dc13b\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/f2913bc039184c97a101ae9e64e7fda4",
      "image": "[\r\n  {\r\n    \"key\": \"fc9aa01d-c695-4d6b-8c04-0c3f5b8d090f\",\r\n    \"mediaKey\": \"171574bd-ceeb-48a2-86c1-1dd0441eeb2d\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/ad41e9ee18534cfa869b2f7d289057fc",
      "image": "[\r\n  {\r\n    \"key\": \"96705534-3721-4e37-b3ef-74f72953062d\",\r\n    \"mediaKey\": \"79531b20-0d4b-4f10-9b50-1974a793d226\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/0d92a4848ef241f884a2cb361bdb56fe"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/ac1f12dbf24d4df191c1b1269d9cbaac",
      "image": "[\r\n  {\r\n    \"key\": \"1027f5a0-c7a8-492e-b4ba-5c34d4f1ef3a\",\r\n    \"mediaKey\": \"1f64b531-7eaa-4c65-b850-895a0260821a\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/91f40077444e41e99c78a3ae40169d6b",
      "image": "[\r\n  {\r\n    \"key\": \"4c573137-e0d9-45ce-80e2-be535cd463f9\",\r\n    \"mediaKey\": \"516eaaf5-7cae-4996-bdf3-886355de8fc6\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/fb9b3de14bf74cafa740c44dd608e98f",
      "image": "[\r\n  {\r\n    \"key\": \"003ca8e2-2b1b-4a9a-84c9-ea10755e180f\",\r\n    \"mediaKey\": \"9c840f01-9828-4d2c-91be-f588250f54cd\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/0ee07347c53b4a82887c092102f4fa4c",
      "image": "[\r\n  {\r\n    \"key\": \"912e0462-c0ae-4ff8-a047-f6a7c83ab838\",\r\n    \"mediaKey\": \"23a01b66-f74d-4193-bc9b-f7ac042dcae4\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/df9ea379e3424efd8f97ed0d0f20ae57",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"20c997\",\r\n  \"label\": \"--bs-teal\",\r\n  \"sortOrder\": 6,\r\n  \"id\": \"7\"\r\n}",
      "layoutSettingsColourShades": "400"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/86600e0c8b8c4923ac18713d99af35e6",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"6610f2\",\r\n  \"label\": \"--bs-indigo\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}",
      "layoutSettingsColourShades": "500"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c2d5ce6c6c18418097465fdad30aa386"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9d0b9307dea6463abdc43af0cdb758c5"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c350b03704764bfc904d3423b0375a34"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2eba10fa1f25425a9097fe2825539b6b"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a9ed797e4fec45c089593d364a54b722"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/8ded7e1a402a4818b1306ccbeef56f09"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/225c17a8653649fe8e5e47e272e71504"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7e25b71781e747e791de1927a81b39b2"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a1bdc10282e34e9fa41b9fe9571a04c1"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7e0fe9773994482d87ca5d56e1ca10c1"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/ff0bb00bca5540f7bcab68cf15605512"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Tur med vädret i år igen. Våra tankar går till Sivert, vars båt förlorades när Gösta avsiktligt kapsejsade den......]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "5f25eeb1-616a-4821-bc8b-088c02e52e0d",
    "mediaKey": "a74e5fb4-b4f8-4566-ad70-3899ad8f3bab"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2016]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2016]]></Value>
    </pageTitleShort>
  </Properties>
</Content>