<?xml version="1.0" encoding="utf-8"?>
<Content Key="53236b06-6534-427d-af5b-a47f5831e629" Alias="Medlemsdag 2015" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2015</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T20:42:26</CreateDate>
    <NodeName Default="Medlemsdag 2015" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/87d00d8d6728437385d393f7eb82a2c3",
                "settingsUdi": "umb://element/d0924ed83d7141b1a453a476b72bcf9e"
              },
              {
                "contentUdi": "umb://element/8a520855b56b454c8c46b30cadc3815f",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/5f9b409c06224d8690931fad658231c6"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/d458ca4c47224c549b8b369cc20ae936",
        "settingsUdi": "umb://element/70b55b4a87f145c3b129a8de8a9a6124"
      },
      {
        "contentUdi": "umb://element/efcce15f4e054e2184c6b85bb8219f70",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/a3428d4837284c929374299990d420f2",
                "settingsUdi": "umb://element/9ad9a34eec2f4db7b872f63f578f1d21",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/31bc37cb22544e68bc0e43abf0c2c6bf",
                "settingsUdi": "umb://element/729683f19fb64d2c82064de9a8984431",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/66726819d2b74ea495195a356657f48b",
                "settingsUdi": "umb://element/42f4bd27e53648878629a4ac9be70ef5",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c43bc1c264894c9e89c6ea94629e9a1a",
                "settingsUdi": "umb://element/251c46d9bed34c8ab5c86a624d32fe1e",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/7ba60ed748e94dac92b8f75604500f08"
      },
      {
        "contentUdi": "umb://element/99dace9b742046c4a3bff08480a9899f",
        "settingsUdi": "umb://element/201563e63d0741eab781a869a86cfd87",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/660bded73436480d9b8f7603c73be6d3",
                "settingsUdi": "umb://element/3042cfbd7cdf4903b021ce3a5e39db56",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/9852a2b0d1944d4e9e1f0c27d1245dbd",
                "settingsUdi": "umb://element/330f5b6c6cd6445ea8931d0e91685a8c",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/82210b45ee894ff58bad4e59a912d8dc",
                "settingsUdi": "umb://element/49dd1065fc774322960685e69e9b601b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/0c2644f89ee046709b5208cf3f5719b8",
                "settingsUdi": "umb://element/d70b3f4b6f784db8845ced2d2a4c7f81",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/efcce15f4e054e2184c6b85bb8219f70"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/d458ca4c47224c549b8b369cc20ae936"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/87d00d8d6728437385d393f7eb82a2c3"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/8a520855b56b454c8c46b30cadc3815f",
      "image": "[\r\n  {\r\n    \"key\": \"a40107a9-8869-4b86-80cf-8b172ffb186b\",\r\n    \"mediaKey\": \"2ac8b0c1-d264-4d26-9821-3b3b54756a5d\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a3428d4837284c929374299990d420f2",
      "image": "[\r\n  {\r\n    \"key\": \"488f6b9d-60da-4375-aa28-5a8cb1c32e55\",\r\n    \"mediaKey\": \"b77ce134-5658-4734-a6b3-a821af4e6e2c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/31bc37cb22544e68bc0e43abf0c2c6bf",
      "image": "[\r\n  {\r\n    \"key\": \"c0e0aba4-0480-4a56-9581-e8ffdcdc7841\",\r\n    \"mediaKey\": \"08cabd67-693c-47bc-adda-325ecbd41e1a\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/66726819d2b74ea495195a356657f48b",
      "image": "[\r\n  {\r\n    \"key\": \"326d2443-ee5d-43df-9dfd-d743b33e43ba\",\r\n    \"mediaKey\": \"c9d8658e-3219-4256-9c96-e91bf9eefc9f\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/c43bc1c264894c9e89c6ea94629e9a1a",
      "image": "[\r\n  {\r\n    \"key\": \"9e09075d-2f25-470d-b8f2-4f28fb35fcc1\",\r\n    \"mediaKey\": \"904887bf-a396-4a0d-a362-6e3595e85df8\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/99dace9b742046c4a3bff08480a9899f"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/660bded73436480d9b8f7603c73be6d3",
      "image": "[\r\n  {\r\n    \"key\": \"dab2b1f4-b5d2-4c02-81fb-ccc4b2538e09\",\r\n    \"mediaKey\": \"15ac3ffa-b4ac-4f6a-bb75-c18ee84cb70e\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/82210b45ee894ff58bad4e59a912d8dc",
      "image": "[\r\n  {\r\n    \"key\": \"0cc5dc4d-297e-496a-aa3b-c90317a4f258\",\r\n    \"mediaKey\": \"f25c7d59-e0a9-44f8-ae95-243705429e43\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/0c2644f89ee046709b5208cf3f5719b8",
      "image": "[\r\n  {\r\n    \"key\": \"b7ebf530-05ad-442b-b6e0-dc3209548e23\",\r\n    \"mediaKey\": \"8047c311-305b-4ad5-96be-4919889f4552\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/9852a2b0d1944d4e9e1f0c27d1245dbd",
      "image": "[\r\n  {\r\n    \"key\": \"3b92788d-565a-448e-91f3-4cb30308f70a\",\r\n    \"mediaKey\": \"080f0f47-665e-49ff-9b95-5ea0241bef40\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/7ba60ed748e94dac92b8f75604500f08"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/70b55b4a87f145c3b129a8de8a9a6124"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/d0924ed83d7141b1a453a476b72bcf9e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5f9b409c06224d8690931fad658231c6"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9ad9a34eec2f4db7b872f63f578f1d21"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/729683f19fb64d2c82064de9a8984431"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/42f4bd27e53648878629a4ac9be70ef5"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/251c46d9bed34c8ab5c86a624d32fe1e"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/201563e63d0741eab781a869a86cfd87"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/3042cfbd7cdf4903b021ce3a5e39db56"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/49dd1065fc774322960685e69e9b601b"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/d70b3f4b6f784db8845ced2d2a4c7f81"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/330f5b6c6cd6445ea8931d0e91685a8c"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Tur med vädret, men ingen glömmer nog Göstas skoningslösa repeat av låten 'Ont det gör Ont' från hans nya JBL-högtalare.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "6917aa41-3856-4fdd-88cd-0ddc73894961",
    "mediaKey": "2ac8b0c1-d264-4d26-9821-3b3b54756a5d"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2015]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2015]]></Value>
    </pageTitleShort>
  </Properties>
</Content>