<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a3cb279-688b-4516-b71f-de468931385b" Alias="Medlemsdag 2018" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2018</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:10</CreateDate>
    <NodeName Default="Medlemsdag 2018" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e1ea903971b34c0b8f8505fef2419d84",
                "settingsUdi": "umb://element/a62f37f9cc654ceab016f015768e120a"
              },
              {
                "contentUdi": "umb://element/aba6257da6d64a80bf6343fe36e099e4",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/1e0d2e58c752431096fdde19cb3122dd"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f77eb96204ad46d38f4616d01e0df46e",
        "settingsUdi": "umb://element/d75feeccaa234ec09cc65d27c5b25117"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/fac5962c899c43f1b0423214656aac36",
                "settingsUdi": "umb://element/cb45bdfb82d7429d840aff5076dadd87",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/718238ed9b0a4486b2a78bdf53e36f2a",
                "settingsUdi": "umb://element/28ec266c59014ce3addd66bc9d1beedc",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/3719ca368b994a9d8d4b4d6a9e6a2708",
                "settingsUdi": "umb://element/e311f90b43154abcaa0ea4fbf0aeb792",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/0359d629b95141b0b8f593bbf54bc7ca",
                "settingsUdi": "umb://element/a9efa32871d043d598eb8ee8322fc060",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a688ba27f5ef4308b45a0f15c45b36cd",
        "settingsUdi": "umb://element/b2a2acf938794e07acb24022ba2075ba"
      },
      {
        "contentUdi": "umb://element/c95964b488d448d2a5facd92d0602af2",
        "settingsUdi": "umb://element/c70ecabd1b9b4c839d9bbecb41becb5d",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/18860611a5374f99806a440509e736bf",
                "settingsUdi": "umb://element/9f9c1637573543fb8d1b43d6c12835ad",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/fcfe677ded6245f58b978a7dea40db70",
                "settingsUdi": "umb://element/ba4bc338577949fd94e4c456d5acf9b1",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/3a235445a25a4eb2ab2513f65981c0ba",
                "settingsUdi": "umb://element/a453e958b9324c3e9407a7b04f508779",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/79a7223b5e634b9bba225ae393de447c",
                "settingsUdi": "umb://element/d360fe7ba8b248439016ea53ae8db434",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/a688ba27f5ef4308b45a0f15c45b36cd"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/f77eb96204ad46d38f4616d01e0df46e"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/e1ea903971b34c0b8f8505fef2419d84"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/aba6257da6d64a80bf6343fe36e099e4",
      "image": "[\r\n  {\r\n    \"key\": \"4c1012c0-788f-4dc1-b20c-92cd41260a5c\",\r\n    \"mediaKey\": \"ad7a68a1-cea4-45d3-80ee-663f6e244136\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/fac5962c899c43f1b0423214656aac36",
      "image": "[\r\n  {\r\n    \"key\": \"0c2bb15d-8a7c-4325-9a86-722997ec0a69\",\r\n    \"mediaKey\": \"bea4fa39-14bd-41fd-9a64-dcec122a4801\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/718238ed9b0a4486b2a78bdf53e36f2a",
      "image": "[\r\n  {\r\n    \"key\": \"97a6eba3-48c8-4542-99b1-6a7bb68fbc46\",\r\n    \"mediaKey\": \"29986824-5fb3-4a06-8fa7-f973bd0e74ce\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/3719ca368b994a9d8d4b4d6a9e6a2708",
      "image": "[\r\n  {\r\n    \"key\": \"cd03ee68-930d-4b2a-9757-3e94b6f149e4\",\r\n    \"mediaKey\": \"734d685d-73e2-407a-b872-be658c52e173\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/0359d629b95141b0b8f593bbf54bc7ca",
      "image": "[\r\n  {\r\n    \"key\": \"e0f44838-feb4-424b-a948-0897f1a26eda\",\r\n    \"mediaKey\": \"4b39f8f0-2015-4a2a-9e1b-2b4cb5284934\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/c95964b488d448d2a5facd92d0602af2"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/18860611a5374f99806a440509e736bf",
      "image": "[\r\n  {\r\n    \"key\": \"e5599f53-38de-4d1d-8ce4-488b8562f31e\",\r\n    \"mediaKey\": \"226c6da3-9bb5-4432-8734-df5b9f39000a\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/3a235445a25a4eb2ab2513f65981c0ba",
      "image": "[\r\n  {\r\n    \"key\": \"af0798a6-e826-46c4-8e99-d2aaa514c8d4\",\r\n    \"mediaKey\": \"b8e3afdf-4a5d-466a-aac3-751b89159d6b\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/79a7223b5e634b9bba225ae393de447c",
      "image": "[\r\n  {\r\n    \"key\": \"a81a6036-8771-48aa-adec-36a32731e39d\",\r\n    \"mediaKey\": \"c527e8fb-ed3f-4a57-971d-dce7b559b059\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/fcfe677ded6245f58b978a7dea40db70",
      "image": "[\r\n  {\r\n    \"key\": \"af534128-84a5-400d-b64c-60a5011faf50\",\r\n    \"mediaKey\": \"ad7a68a1-cea4-45d3-80ee-663f6e244136\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/b2a2acf938794e07acb24022ba2075ba",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "400",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/d75feeccaa234ec09cc65d27c5b25117",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a62f37f9cc654ceab016f015768e120a"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/1e0d2e58c752431096fdde19cb3122dd"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/cb45bdfb82d7429d840aff5076dadd87"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/28ec266c59014ce3addd66bc9d1beedc"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e311f90b43154abcaa0ea4fbf0aeb792"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a9efa32871d043d598eb8ee8322fc060"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/c70ecabd1b9b4c839d9bbecb41becb5d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9f9c1637573543fb8d1b43d6c12835ad"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a453e958b9324c3e9407a7b04f508779"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/d360fe7ba8b248439016ea53ae8db434"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/ba4bc338577949fd94e4c456d5acf9b1"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Föreningen firade sitt 30-årsjubileum. Ett stort tack till helikopterpersonalen som hittade Gösta utan kläder vid kyrkogården.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "86fc5c28-d2da-477f-8d64-b1da8608fadd",
    "mediaKey": "077026a2-4105-45bd-b3c2-164cae9a77e2"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2018]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2018]]></Value>
    </pageTitleShort>
  </Properties>
</Content>