<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf97a030-5d0e-49e4-b0d8-ba0a09240fd4" Alias="Medlemsdag 2012" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2012</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-07T19:19:02</CreateDate>
    <NodeName Default="Medlemsdag 2012" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/6d112674d6084dd3acf767266ce34c84",
                "settingsUdi": "umb://element/6b94f8290fe24b25ac3ef7b3804b181c"
              },
              {
                "contentUdi": "umb://element/5e6009b4bfb348fe970dcdbd3c1d38f9",
                "settingsUdi": "umb://element/52c210fc0c844c4b9fe2c4a5414a8a72",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/07eee30a6ad44079b83b33dddc636097",
        "settingsUdi": "umb://element/851e13850570489bb67ab91252d1c633"
      },
      {
        "contentUdi": "umb://element/cc4f96a4ccaa4eefb886108666025060",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/b0efac38935f4032bbfe66824c037c8d",
                "settingsUdi": "umb://element/39c390f2235646fea2a1551697cced70",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/53632afc85af4cd488b3d0ae3e70c9c7",
                "settingsUdi": "umb://element/e78494330a04467395d3ed0993ed2f07",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/10f2689e27a9483892b8ec818050cfd0",
                "settingsUdi": "umb://element/27f682bda4644bba8974de238444ee5c",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/42425dc50b734c528895053c7b89b21d",
                "settingsUdi": "umb://element/2a2d65a06b184f2f9bf868d2acddfdbf",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/287a57bdd16a4a50b10ed548bf34f7e0"
      },
      {
        "contentUdi": "umb://element/cffde9ad77dc449483ef8b9c372618fe",
        "settingsUdi": "umb://element/bf8484ebccf04adc9e9912d3b4fa19b8",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/ef5f46a89ea94a36bc00ef1162295a5f",
                "settingsUdi": "umb://element/666fe969ae92400d84b7f75fe9f9afba",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/d55b9cf5f8e14899ab401ec211cf04d7",
                "settingsUdi": "umb://element/5e7ff622861242aab3003664a8d88c5d",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/3a65980580ad4ae2a72c4044bdaa1d6c",
                "settingsUdi": "umb://element/6fe3ad0db3034094bced25f830ecc9c2",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/d7e7a76620594f0eafa8dae87d1da656",
                "settingsUdi": "umb://element/c34ac94db606488c885702d11135a08b",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/69b3280f69164ff2a584f1cdba22d27a",
                "settingsUdi": "umb://element/4cbb0983b7e44c3eb612a834ad88c6da",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/cc4f96a4ccaa4eefb886108666025060"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/07eee30a6ad44079b83b33dddc636097"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/6d112674d6084dd3acf767266ce34c84"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/5e6009b4bfb348fe970dcdbd3c1d38f9",
      "image": "[\r\n  {\r\n    \"key\": \"d2db058f-7b2c-408e-8825-64e91082acf4\",\r\n    \"mediaKey\": \"f25c7d59-e0a9-44f8-ae95-243705429e43\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/10f2689e27a9483892b8ec818050cfd0",
      "image": "[\r\n  {\r\n    \"key\": \"5ba02206-a035-4925-a340-eb906de9afb1\",\r\n    \"mediaKey\": \"21301c08-d146-45d2-8290-9fd99b230f36\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/53632afc85af4cd488b3d0ae3e70c9c7",
      "image": "[\r\n  {\r\n    \"key\": \"a1f7dc52-ed5f-40a7-bc3c-2b2b50e5e54d\",\r\n    \"mediaKey\": \"3b47fe25-9396-469b-b478-9a5e597a8859\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/42425dc50b734c528895053c7b89b21d",
      "image": "[\r\n  {\r\n    \"key\": \"9d9abbd5-f1a9-4fb2-ba54-84db23377a09\",\r\n    \"mediaKey\": \"904887bf-a396-4a0d-a362-6e3595e85df8\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/b0efac38935f4032bbfe66824c037c8d",
      "image": "[\r\n  {\r\n    \"key\": \"ad9ca0a9-a3ab-4fa3-b522-6fb672e8d661\",\r\n    \"mediaKey\": \"c9d8658e-3219-4256-9c96-e91bf9eefc9f\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/cffde9ad77dc449483ef8b9c372618fe"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/ef5f46a89ea94a36bc00ef1162295a5f",
      "image": "[\r\n  {\r\n    \"key\": \"a30075c3-ae5a-4157-bae2-7acc9c7e18b0\",\r\n    \"mediaKey\": \"08cabd67-693c-47bc-adda-325ecbd41e1a\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/3a65980580ad4ae2a72c4044bdaa1d6c",
      "image": "[\r\n  {\r\n    \"key\": \"b0f25acc-b245-4888-af67-914464b501ae\",\r\n    \"mediaKey\": \"9d799d03-7026-45f8-8374-f0fce1a97e3f\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d7e7a76620594f0eafa8dae87d1da656",
      "image": "[\r\n  {\r\n    \"key\": \"c1ed7c90-2c4c-415a-a575-a922987dcdf6\",\r\n    \"mediaKey\": \"c1e3e355-0f44-477d-91f2-87efb80db464\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d55b9cf5f8e14899ab401ec211cf04d7",
      "image": "[\r\n  {\r\n    \"key\": \"dcd131f8-3a88-4984-ba57-1aa3878c22f2\",\r\n    \"mediaKey\": \"b77ce134-5658-4734-a6b3-a821af4e6e2c\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/69b3280f69164ff2a584f1cdba22d27a",
      "image": "[\r\n  {\r\n    \"key\": \"99b30d53-1071-48f7-be4a-065c74d77e12\",\r\n    \"mediaKey\": \"3a873fb7-378e-4d41-b552-76a898ccfa65\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/287a57bdd16a4a50b10ed548bf34f7e0",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"ffffff\",\r\n  \"label\": \"--bs-white-rgb\",\r\n  \"sortOrder\": 9,\r\n  \"id\": \"10\"\r\n}",
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "1.000",
      "layoutAreasColourPicker": "{\r\n  \"value\": \"f8f9fa\",\r\n  \"label\": \"text-bg-light\",\r\n  \"sortOrder\": 6,\r\n  \"id\": \"7\"\r\n}",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/851e13850570489bb67ab91252d1c633",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"ffffff\",\r\n  \"label\": \"--bs-white-rgb\",\r\n  \"sortOrder\": 9,\r\n  \"id\": \"10\"\r\n}",
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "1.000",
      "layoutSettingsBackgroundImagePicker": "[]",
      "layoutAreasColourPicker": "{\r\n  \"value\": \"f8f9fa\",\r\n  \"label\": \"text-bg-light\",\r\n  \"sortOrder\": 6,\r\n  \"id\": \"7\"\r\n}"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/6b94f8290fe24b25ac3ef7b3804b181c"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/52c210fc0c844c4b9fe2c4a5414a8a72",
      "featureSettingsHideDisplay": "1",
      "featureSettingsColourPicker": "{\r\n  \"value\": \"ffffff\",\r\n  \"label\": \"--bs-white-rgb\",\r\n  \"sortOrder\": 9,\r\n  \"id\": \"10\"\r\n}"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/27f682bda4644bba8974de238444ee5c"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e78494330a04467395d3ed0993ed2f07"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2a2d65a06b184f2f9bf868d2acddfdbf"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/39c390f2235646fea2a1551697cced70"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/bf8484ebccf04adc9e9912d3b4fa19b8",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"ffffff\",\r\n  \"label\": \"--bs-white-rgb\",\r\n  \"sortOrder\": 9,\r\n  \"id\": \"10\"\r\n}",
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "1.000",
      "layoutAreasColourPicker": "{\r\n  \"value\": \"f8f9fa\",\r\n  \"label\": \"text-bg-light\",\r\n  \"sortOrder\": 6,\r\n  \"id\": \"7\"\r\n}",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/666fe969ae92400d84b7f75fe9f9afba"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/6fe3ad0db3034094bced25f830ecc9c2"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c34ac94db606488c885702d11135a08b"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5e7ff622861242aab3003664a8d88c5d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/4cbb0983b7e44c3eb612a834ad88c6da"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[En fantastisk dag, dock synd att Gösta var tvungen att bli så redlös.....]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "669ac061-1f61-4394-b102-bb141bbdf707",
    "mediaKey": "b57a3f01-255d-4038-96dc-fb240c4dc13b"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2012]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2012]]></Value>
    </pageTitleShort>
  </Properties>
</Content>