<?xml version="1.0" encoding="utf-8"?>
<Content Key="074b6ab2-c798-43aa-9acd-2fd21b948bb3" Alias="Medlemsdag 2022" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2022</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-15T14:45:19</CreateDate>
    <NodeName Default="Medlemsdag 2022" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/376c2e3ead3b42478f61f5dfdc09eb6b",
                "settingsUdi": "umb://element/1dbd04bfbd1f48d9a0ccde7c7d0f0725"
              },
              {
                "contentUdi": "umb://element/0a2ec8fa2ae54f50a98144c377659eb5",
                "settingsUdi": "umb://element/2e4f825bda9e4100a56c04607475a143",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/04298cef7d19441c87a44222233cd705",
        "settingsUdi": "umb://element/14514d40dcfa47f69730b2ff608ef449"
      },
      {
        "contentUdi": "umb://element/47ed0b48972148e280a2f5b1bfcc9b8d",
        "settingsUdi": "umb://element/cf8ae4ca930d4ac487039597e59535fb",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/455eda8942b54080883db2b783e178eb",
                "settingsUdi": "umb://element/74df822849f1494f952e7390cda71020",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/205cfcb8f5dd48bc8276b814e3f22c62",
                "settingsUdi": "umb://element/805cce1457934e6daf4bd2fd4b4894b0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/d6bc1f01a15c433e955712cfde5be146",
                "settingsUdi": "umb://element/9ee5655d62444a6c8c9edd4a49ad6dbe",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/5d7e7b9d96f44b6eb8c91f76df2aa080",
                "settingsUdi": "umb://element/e8985b32ffdd4d38b251b04913088360",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fcee23a07118448bb0b0201dca545900",
        "settingsUdi": "umb://element/dd6fbf17f6c24cf8ac73244482ccbc73",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/a71b2f3ec0d34d35ac03e91e9406b639",
                "settingsUdi": "umb://element/3eb1248e5b70404f8da4b0712611e8ee",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/4b8286159b014dd092e2cbb94b2a22bc",
                "settingsUdi": "umb://element/4849adbb4b0d4975ab26597a448d8614",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/3f631d9a457d4aac91c522f347c8c320",
                "settingsUdi": "umb://element/7236a1cbef904ac0985385d4063b2ab3",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/1f7c82205bf24ecfa50a0d6d4e278256",
                "settingsUdi": "umb://element/4c1606d842304acebf7cb4df1622243a",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/04298cef7d19441c87a44222233cd705"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/376c2e3ead3b42478f61f5dfdc09eb6b"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/0a2ec8fa2ae54f50a98144c377659eb5",
      "image": "[\r\n  {\r\n    \"key\": \"9d966eeb-cc80-41e3-b844-0427136bd14f\",\r\n    \"mediaKey\": \"b03e5c92-9854-4cce-9162-daafc9995394\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/47ed0b48972148e280a2f5b1bfcc9b8d"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/455eda8942b54080883db2b783e178eb",
      "image": "[\r\n  {\r\n    \"key\": \"5b5ee043-1ed4-4eb6-a428-a9a58ec02350\",\r\n    \"mediaKey\": \"446d65e2-191f-45a9-9907-a98a1e4dfece\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/205cfcb8f5dd48bc8276b814e3f22c62",
      "image": "[\r\n  {\r\n    \"key\": \"11e2a832-fc57-401a-8df2-35d03a0a3224\",\r\n    \"mediaKey\": \"bffe0625-aba4-4e16-a3f2-e81041fd1da9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d6bc1f01a15c433e955712cfde5be146",
      "image": "[\r\n  {\r\n    \"key\": \"8f3b08ec-01b3-4029-86ea-bf57eb44ac49\",\r\n    \"mediaKey\": \"2da4c90c-a6dc-47e2-b6a2-b3441c1e6561\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/5d7e7b9d96f44b6eb8c91f76df2aa080",
      "image": "[\r\n  {\r\n    \"key\": \"1da45b4c-8ec2-40f6-ae23-2525e6040bc9\",\r\n    \"mediaKey\": \"e2b9027c-c307-4276-9606-9de1911d97c2\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/fcee23a07118448bb0b0201dca545900"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a71b2f3ec0d34d35ac03e91e9406b639",
      "image": "[\r\n  {\r\n    \"key\": \"62512a4c-10b7-4177-a20a-3b81df0b41f2\",\r\n    \"mediaKey\": \"8ce48f17-be33-41e9-9223-e3fae25154fc\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/3f631d9a457d4aac91c522f347c8c320",
      "image": "[\r\n  {\r\n    \"key\": \"e5fd4655-720a-4d5c-b7f8-1e358f5d202c\",\r\n    \"mediaKey\": \"8bfbdad3-2913-420d-a928-2350f8d18d41\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/1f7c82205bf24ecfa50a0d6d4e278256",
      "image": "[\r\n  {\r\n    \"key\": \"a0b17c4e-494e-448e-8a68-9aa4982f272f\",\r\n    \"mediaKey\": \"b03e5c92-9854-4cce-9162-daafc9995394\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/4b8286159b014dd092e2cbb94b2a22bc",
      "image": "[\r\n  {\r\n    \"key\": \"205ed33f-7e22-4ee8-8116-4ecbf04a7748\",\r\n    \"mediaKey\": \"1f716591-cebb-4fd0-868c-c6c6ec911336\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/14514d40dcfa47f69730b2ff608ef449"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/1dbd04bfbd1f48d9a0ccde7c7d0f0725"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2e4f825bda9e4100a56c04607475a143"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/cf8ae4ca930d4ac487039597e59535fb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/74df822849f1494f952e7390cda71020"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/805cce1457934e6daf4bd2fd4b4894b0"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9ee5655d62444a6c8c9edd4a49ad6dbe"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e8985b32ffdd4d38b251b04913088360"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/dd6fbf17f6c24cf8ac73244482ccbc73"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/3eb1248e5b70404f8da4b0712611e8ee"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7236a1cbef904ac0985385d4063b2ab3"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/4c1606d842304acebf7cb4df1622243a"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/4849adbb4b0d4975ab26597a448d8614"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[En trevlig dag, men stackars Sivert (nykterist) som lurades att dricka hembränt och apelsinjuice av Gösta... Ett stort tack till ambulanspersonalen.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "01ddba57-c381-4b80-9157-739fafef2fb7",
    "mediaKey": "380d3388-efa6-4089-8a18-25b123554582"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2022]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2022]]></Value>
    </pageTitleShort>
  </Properties>
</Content>