<?xml version="1.0" encoding="utf-8"?>
<Content Key="afe0e2ca-d7f1-4faf-8923-6f7a22dae823" Alias="Medlemsdag 2021" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2021</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-14T18:02:45</CreateDate>
    <NodeName Default="Medlemsdag 2021" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/3a1ba69d87bb4e04aa3b6f7242dc0445",
                "settingsUdi": "umb://element/73727ec4c2f146c6b84c309d3f0908bb"
              },
              {
                "contentUdi": "umb://element/971014cf911149f6bd5f4c0b18cc1f64",
                "settingsUdi": "umb://element/5ffefaba3e5b4650b6aeeb34e877fb26",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3f5620baa8d84a62807e6301c683cd82",
        "settingsUdi": "umb://element/b827284764514fa5bc4108808376ffbd"
      },
      {
        "contentUdi": "umb://element/800495c0e5cf4877a0a12a600ec32d9d",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/1ad1f955a4244bc993293c48b7b9b386",
                "settingsUdi": "umb://element/b1f9deaece4a4312b621d8b8fb54a077",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/d6c80ca840d24272bbd73912fdf7c3be",
                "settingsUdi": "umb://element/e702df88581640f39ffeafb59411cfe0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/1ea814f3b1e8493e8e371265799f5053",
                "settingsUdi": "umb://element/506c8e02ede345c6bf7e6c69fdf7d461",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1391a9027807404e8c1523337e96f56d",
                "settingsUdi": "umb://element/28755d3d49df4a9399f12ea1cb63dff7",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/c042e28d712141f598c04b774e9f45cd"
      },
      {
        "contentUdi": "umb://element/9505fe22dc0d44f68ff59e9410048e6d",
        "settingsUdi": "umb://element/3f2a4d57b6ed473f82b4dc3dd68c7251",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/98325c0f1ac84de897af1998773dcb31",
                "settingsUdi": "umb://element/a4619b0db3ae4b2f92348fab86e58cbf",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/21d4a835ef264538be957d3164dba8ad",
                "settingsUdi": "umb://element/0001b385e2e54d63b303a4bc9a6e835e",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/53f59b8f2eef44c7bc7b2435d4dad441",
                "settingsUdi": "umb://element/ce8c25c502334decb884087cef7eebfa",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/7bc3dffa9b634610b635f26efdea54bd",
                "settingsUdi": "umb://element/b4806360f7aa4e379ef347465c453aac",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/800495c0e5cf4877a0a12a600ec32d9d"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/3f5620baa8d84a62807e6301c683cd82"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/3a1ba69d87bb4e04aa3b6f7242dc0445"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/971014cf911149f6bd5f4c0b18cc1f64",
      "image": "[\r\n  {\r\n    \"key\": \"a0fb1526-6e36-4d89-9eea-6023930615ea\",\r\n    \"mediaKey\": \"04359ddd-3ae3-436c-b957-8e164c755f34\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/1ad1f955a4244bc993293c48b7b9b386",
      "image": "[\r\n  {\r\n    \"key\": \"488f4357-1b05-4dc7-9dd0-27a573994cc3\",\r\n    \"mediaKey\": \"764a13a7-5faf-4f70-86b0-3fcb9c3a34e8\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d6c80ca840d24272bbd73912fdf7c3be",
      "image": "[\r\n  {\r\n    \"key\": \"9371ac1b-8f48-4007-882c-8319bccfb870\",\r\n    \"mediaKey\": \"6e65ed6d-cca7-424d-b769-eb53df155654\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/1ea814f3b1e8493e8e371265799f5053",
      "image": "[\r\n  {\r\n    \"key\": \"4fd1906d-6124-4dde-9236-8cb3e1678f8f\",\r\n    \"mediaKey\": \"d776605d-00fc-4448-be49-52d03d27374c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/1391a9027807404e8c1523337e96f56d",
      "image": "[\r\n  {\r\n    \"key\": \"4d80c674-1cd4-47e0-9d09-f1e061872a4e\",\r\n    \"mediaKey\": \"06e5dbfb-6925-48f7-864c-fc141a3d0f34\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/9505fe22dc0d44f68ff59e9410048e6d"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/98325c0f1ac84de897af1998773dcb31",
      "image": "[\r\n  {\r\n    \"key\": \"15bca326-a45f-4412-b76b-79e410caf4b3\",\r\n    \"mediaKey\": \"04359ddd-3ae3-436c-b957-8e164c755f34\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/53f59b8f2eef44c7bc7b2435d4dad441",
      "image": "[\r\n  {\r\n    \"key\": \"d00f9032-a7e7-4843-a799-e52b710e881e\",\r\n    \"mediaKey\": \"1906e518-151a-41aa-9e8e-eb8102cce65c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/7bc3dffa9b634610b635f26efdea54bd",
      "image": "[\r\n  {\r\n    \"key\": \"f4511a5f-1c7a-4355-a3d7-6b9326428fb6\",\r\n    \"mediaKey\": \"9334997e-ed22-48e0-b5e1-76d2ce82ee1b\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/21d4a835ef264538be957d3164dba8ad",
      "image": "[\r\n  {\r\n    \"key\": \"4d958682-195b-4dfa-8836-5f829797f6c9\",\r\n    \"mediaKey\": \"b7592e26-5016-4df9-b17c-45be7dff8031\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/c042e28d712141f598c04b774e9f45cd"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/b827284764514fa5bc4108808376ffbd"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/73727ec4c2f146c6b84c309d3f0908bb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5ffefaba3e5b4650b6aeeb34e877fb26"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b1f9deaece4a4312b621d8b8fb54a077"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e702df88581640f39ffeafb59411cfe0"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/506c8e02ede345c6bf7e6c69fdf7d461"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/28755d3d49df4a9399f12ea1cb63dff7"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/3f2a4d57b6ed473f82b4dc3dd68c7251"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a4619b0db3ae4b2f92348fab86e58cbf"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/ce8c25c502334decb884087cef7eebfa"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b4806360f7aa4e379ef347465c453aac"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/0001b385e2e54d63b303a4bc9a6e835e"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Vilken fantastisk dag det kunnat bli om inte Gösta hade stulit Janne och Kristinas nya Volvo v70 och rullat ner den i sjön.....]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "a75e1d1b-2f0a-44b2-901d-7ff4e9ce9b85",
    "mediaKey": "ee9b56c7-baa7-432f-8df8-d4aaeeaa0c97"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2021]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2021]]></Value>
    </pageTitleShort>
  </Properties>
</Content>