<?xml version="1.0" encoding="utf-8"?>
<Content Key="fafacbca-11bc-44ab-afcc-11adbcdbfec8" Alias="Medlemsdag 2014" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2014</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T16:31:19</CreateDate>
    <NodeName Default="Medlemsdag 2014" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/dd6c43f3a0ba49268806912e35b48778",
                "settingsUdi": "umb://element/b98aa65e4ef4431fbfb46f179e25d863"
              },
              {
                "contentUdi": "umb://element/62c3860810dd43dc83fd8d8a6f221ef6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/8a2e351415d547bc9865f1383149b580"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/953c831a8e0e48679d2af6f2b892cc2b",
        "settingsUdi": "umb://element/9f58e17520384ba1905821fbbc3b3b12"
      },
      {
        "contentUdi": "umb://element/b3d5ef1d22834622bac8100893b5e4b1",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/dc42b2a02821474ab352593728cef055",
                "settingsUdi": "umb://element/bb0c1cda92074cee8f675a552879978d",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/527d7ea548434fc093a677b0b3438e92",
                "settingsUdi": "umb://element/f31ea3cd082f4dde8d15d3bc38a531fb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/d489b313551145ca8208e871fb4f2fa4",
                "settingsUdi": "umb://element/a25e4d242fef46d5ba26467e4bec162e",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/06ec1ee61419481cbc3aaaaf3997f938",
                "settingsUdi": "umb://element/e12d533fdc4941d48540673ff4421b05",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/0b89febe86c04469a4268ec97c1b2828"
      },
      {
        "contentUdi": "umb://element/bd7ded9f90e948b3bae48255536efe48",
        "settingsUdi": "umb://element/8e06a5a521cb4ee2b44cdf6c0a793be9",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/36de5969ad944191b526130564c7baa6",
                "settingsUdi": "umb://element/7d4d6ae5481b408a92ae5d9fcc7252d8",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/89eba8e8531747678918294183eec79e",
                "settingsUdi": "umb://element/f1b847ea85d4453983b7ae0ccb1b94ef",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/8eb9a3c17fd1482ea83517aa184d8c64",
                "settingsUdi": "umb://element/4f6fd6cb27d1439cacafc77555db8a70",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7d488564ef6441789bbad2fe8c888f58",
                "settingsUdi": "umb://element/96fac113353244d094f0810100ef81bb",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/b3d5ef1d22834622bac8100893b5e4b1"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/953c831a8e0e48679d2af6f2b892cc2b"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/dd6c43f3a0ba49268806912e35b48778"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/62c3860810dd43dc83fd8d8a6f221ef6",
      "image": "[\r\n  {\r\n    \"key\": \"7e264892-8c59-4c78-94a1-200419c29594\",\r\n    \"mediaKey\": \"4b89fe9d-5e9a-4843-a469-fcbb26c9a480\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/dc42b2a02821474ab352593728cef055",
      "image": "[\r\n  {\r\n    \"key\": \"44d27f20-32ea-4df0-ba8d-353b4ee719aa\",\r\n    \"mediaKey\": \"10b6080a-009c-4343-aed9-4963383d568d\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/527d7ea548434fc093a677b0b3438e92",
      "image": "[\r\n  {\r\n    \"key\": \"b598b217-e743-4b94-ac9b-08bbbcbbcf34\",\r\n    \"mediaKey\": \"eac5be1f-490a-40ee-b6f5-61e30c3adc21\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/d489b313551145ca8208e871fb4f2fa4",
      "image": "[\r\n  {\r\n    \"key\": \"f4c30bfc-4c4d-4b8d-adbc-d2bebb23ac51\",\r\n    \"mediaKey\": \"52243fdd-1fea-49af-8b3d-2464b8d05248\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/06ec1ee61419481cbc3aaaaf3997f938",
      "image": "[\r\n  {\r\n    \"key\": \"ebabc94f-47af-4fea-9576-96d39197915b\",\r\n    \"mediaKey\": \"c3123fb6-7dcd-4adb-a91a-0644a1e2c7a0\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/bd7ded9f90e948b3bae48255536efe48"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/36de5969ad944191b526130564c7baa6",
      "image": "[\r\n  {\r\n    \"key\": \"7469192c-4262-44f6-9e9c-6521c9ddb22b\",\r\n    \"mediaKey\": \"9804f6aa-70db-49ef-b63b-adbbb6f2e70f\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/89eba8e8531747678918294183eec79e",
      "image": "[\r\n  {\r\n    \"key\": \"b0e6056d-cd8d-4cb1-bd27-553742d4052c\",\r\n    \"mediaKey\": \"c14aa11b-f066-4590-a87a-bfd8a00ca91b\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/8eb9a3c17fd1482ea83517aa184d8c64",
      "image": "[\r\n  {\r\n    \"key\": \"61bc046c-9d21-414c-b413-0aad6e692e68\",\r\n    \"mediaKey\": \"47ee96a6-2e89-4d3a-8513-fcf5335b8289\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/7d488564ef6441789bbad2fe8c888f58",
      "image": "[\r\n  {\r\n    \"key\": \"79e92de2-f5c7-4551-9b4d-24bbcb7fee14\",\r\n    \"mediaKey\": \"7f81159b-c899-4623-85cb-8879e79b6bde\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/0b89febe86c04469a4268ec97c1b2828"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/9f58e17520384ba1905821fbbc3b3b12"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b98aa65e4ef4431fbfb46f179e25d863"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/8a2e351415d547bc9865f1383149b580"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/bb0c1cda92074cee8f675a552879978d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/f31ea3cd082f4dde8d15d3bc38a531fb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a25e4d242fef46d5ba26467e4bec162e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e12d533fdc4941d48540673ff4421b05"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/8e06a5a521cb4ee2b44cdf6c0a793be9"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7d4d6ae5481b408a92ae5d9fcc7252d8"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/f1b847ea85d4453983b7ae0ccb1b94ef"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/4f6fd6cb27d1439cacafc77555db8a70"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/96fac113353244d094f0810100ef81bb"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[En fantastisk dag, tills vi fick reda på att Gösta gömt sig under bajamajan med dykmask, snorkel och ficklampa... Riktigt obehagligt faktiskt...]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "7b75ba46-cc4c-4780-a410-bdbbda2d0edd",
    "mediaKey": "66895dae-e63c-4e3e-b5d8-ef728dac0874"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2014]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2014]]></Value>
    </pageTitleShort>
  </Properties>
</Content>