<?xml version="1.0" encoding="utf-8"?>
<Content Key="118b9c7c-fe77-41e1-b3ac-fc3edffd1874" Alias="Medlemsdag 2020" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Galleri</Parent>
    <Path>/Home/Galleri/Medlemsdag2020</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-08T20:13:06</CreateDate>
    <NodeName Default="Medlemsdag 2020" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/4b02b5ab16bb41768140c67d97c2b075",
                "settingsUdi": "umb://element/2f2c24f61b84458c93a8362a7f672e9f"
              },
              {
                "contentUdi": "umb://element/345ff656509c4e039e6a47f98a935877",
                "settingsUdi": "umb://element/a0a93d6cc4264d29acde669a4a5b07f6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/7b15b76ed25f49a58779da49567f5fef",
        "settingsUdi": "umb://element/240ac46cb0974923a88016bbdd7b2f7e"
      },
      {
        "contentUdi": "umb://element/b7ff891a22ca4700a88948b0f94c149b",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/aa5b19966c3443178c205bad3a04ae0d",
                "settingsUdi": "umb://element/83b9df216e674018929030b095afd268",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/4b90defe86484815918242e8784a483d",
                "settingsUdi": "umb://element/382e146f4a00480aae8aa37c7e200189",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/634824a22edd4a2285928f62f1490986",
                "settingsUdi": "umb://element/a6a3d3c7e9ac458a8e0a93594fab05f6",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8191059514404abe92914259e37da417",
                "settingsUdi": "umb://element/068e72ed6ab44f349fe7bfe00b5d3bf0",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/e95308c5069044ae9c44e547b2065268"
      },
      {
        "contentUdi": "umb://element/42029bba387d4ac4850ab52dd680336d",
        "settingsUdi": "umb://element/c604da1d07a04c82915adafda63688bb",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/e6da73e1850e4651a35126796736de05",
                "settingsUdi": "umb://element/6e4dc386833545bcbdd94a4620104ddc",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/96513b40bb6e45c8ac18893fa228cc6d",
                "settingsUdi": "umb://element/da5de549f00645438f7eca91ffcb962b",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/2ad460abeac84410bc9096f8de34a58e",
                "settingsUdi": "umb://element/5ef9b48ec0374078b4c6aaf427c707e5",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/bcfe42e042dc4bcf886e5f00a4501bc5",
                "settingsUdi": "umb://element/0da36ff0b274498aae0de4621d5df994",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/b7ff891a22ca4700a88948b0f94c149b"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/7b15b76ed25f49a58779da49567f5fef"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/4b02b5ab16bb41768140c67d97c2b075"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/345ff656509c4e039e6a47f98a935877",
      "image": "[\r\n  {\r\n    \"key\": \"89635f5b-19f5-4253-b9c2-8c15fbbae994\",\r\n    \"mediaKey\": \"8d201f79-0275-477b-bab9-7ab9b5453798\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/aa5b19966c3443178c205bad3a04ae0d",
      "image": "[\r\n  {\r\n    \"key\": \"0309fa48-ac7a-4b53-8126-581bc5db81c2\",\r\n    \"mediaKey\": \"04d106ee-c435-44ef-a890-2b8d2f9f761f\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/4b90defe86484815918242e8784a483d",
      "image": "[\r\n  {\r\n    \"key\": \"224adbed-237f-4e36-bd9d-bdfad3372607\",\r\n    \"mediaKey\": \"46105a69-31d4-498a-85f9-65f0ad9564e3\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/634824a22edd4a2285928f62f1490986",
      "image": "[\r\n  {\r\n    \"key\": \"19ff5c5c-8c5e-4ffd-924b-6491bd509876\",\r\n    \"mediaKey\": \"3863ca47-acfe-40af-8dc3-e287c394fce9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/8191059514404abe92914259e37da417",
      "image": "[\r\n  {\r\n    \"key\": \"df16517f-a59e-4cf1-bcf3-112c9c10ccf0\",\r\n    \"mediaKey\": \"361e38ed-c89d-4ca0-8f81-71f8ec64ccd0\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/42029bba387d4ac4850ab52dd680336d"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/e6da73e1850e4651a35126796736de05",
      "image": "[\r\n  {\r\n    \"key\": \"f304bf48-0b24-4315-af45-7409873fddcc\",\r\n    \"mediaKey\": \"8d201f79-0275-477b-bab9-7ab9b5453798\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/2ad460abeac84410bc9096f8de34a58e",
      "image": "[\r\n  {\r\n    \"key\": \"4564d283-86d9-4b41-a927-78e10af69cd1\",\r\n    \"mediaKey\": \"861916f1-2368-400e-9bd0-04128f8ada59\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/bcfe42e042dc4bcf886e5f00a4501bc5",
      "image": "[\r\n  {\r\n    \"key\": \"7e5c0aae-2c2c-4252-91e7-f9da5d2c35e5\",\r\n    \"mediaKey\": \"252f79ed-9d35-4b33-a4e3-9f50c9ed8ef2\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/96513b40bb6e45c8ac18893fa228cc6d",
      "image": "[\r\n  {\r\n    \"key\": \"e507ca1d-a84f-44ad-9c2c-5aebd01a8a29\",\r\n    \"mediaKey\": \"c135d36c-28e5-4b1b-a5ee-7dd6576501fc\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/e95308c5069044ae9c44e547b2065268"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/240ac46cb0974923a88016bbdd7b2f7e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2f2c24f61b84458c93a8362a7f672e9f"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a0a93d6cc4264d29acde669a4a5b07f6"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/83b9df216e674018929030b095afd268"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/382e146f4a00480aae8aa37c7e200189"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a6a3d3c7e9ac458a8e0a93594fab05f6"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/068e72ed6ab44f349fe7bfe00b5d3bf0"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/c604da1d07a04c82915adafda63688bb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/6e4dc386833545bcbdd94a4620104ddc"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5ef9b48ec0374078b4c6aaf427c707e5"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/0da36ff0b274498aae0de4621d5df994"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/da5de549f00645438f7eca91ffcb962b"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Vi var nog alla lite skärrade efter dagen då Gösta bestämde sig för att skjuta fyrverkerier mot medlemmarna. Tack polisen för snabbt agerande.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "0c9ddf1c-6821-4cd1-a9dc-6db6efb919fe",
    "mediaKey": "54528ce1-b4b4-489f-9057-b01fbf282a68"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Medlemsdag 2020]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[2020]]></Value>
    </pageTitleShort>
  </Properties>
</Content>